.uk-landing-page-desc {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  text-align: left;

  div {
    position: relative;
    width: 20px;
    height: 20px;
    &:before {
      font-family: 'icoFont';
      content: "\e903";
      width: 20px;
      height: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 14px;
      top: 0.5rem;
      color: var(--white);
      background: var(--green);
    }
  }
}

.stripe-input {
  background-color: #FFFFFF !important;
  padding: 15px !important;
}

.verified-image-wrapper {
  margin: auto;
  border: 1px solid #0080FF;
  background-color: #FFFFFF;
}
.image-loading-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-summary .item-wrap ul li .name .img {
  position: relative;
}

.preview-cart-item {
  position: relative;
  min-height: 300px;
  min-width: 300px;

  img {
    position: relative;
    max-height: 90vh;
    max-width: 90vw;
    width: 100%;
  }
}

.spacer {
  flex-grow: 1;
}

.one-click-take-photo {
  .step-data {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .data-wrap {
      width: 85%;
    }
    .action-btn {
      justify-content: center;
    }
  }
}

.one-click-process-photo {
  .step-data {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .data-wrap {
      width: 100%;
      max-width: 100% !important;
    }
    .action-btn {
      justify-content: center;
    }
    .requirements-wrap {
      display: flex;
      justify-content: center;
    }
  }
}

.one-click-toolbar {
  padding: 15px 0;
  background-color: var(--catskill-white);
  box-shadow: unset !important;
  position: relative !important;
  z-index: 3;
}

.one-click-modal.checkout {
  .steps-content {
    .step-data {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .checkout-btn-wrap {
      width: 100%;
      .action-btn {
        display: flex;
        justify-content: center;
      }
    }
  }
  .free-sipping-price {
    color: var(--jungle-green);
    padding: 0 5px;
  }

  label.us, label.ca {
    width: calc(50% - 20px);
  }

  .total-info {
    margin: 24px 0 10px 0;
    padding: 26px 0;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
      content: '';
      height: 3px;
      position: absolute;
      left: 0;
      right: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjgwIiBoZWlnaHQ9IjMiIHZpZXdCb3g9IjAgMCA2ODAgMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMkM1NDQgMS4yIDY4MCAxIDY4MCAxIiBzdHJva2U9IiNDNEM0QzQiIHN0cm9rZS1taXRlcmxpbWl0PSIxLjIyODYzIiBzdHJva2UtZGFzaGFycmF5PSI3IDciLz4KPC9zdmc+Cg==);
      pointer-events: none;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    table {
      //width: 100%;
      border-collapse: collapse;

      tr {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;

        td {
          padding: 10px 10px 10px 0;

          &:first-child {
            min-width: 110px;
          }
        }
      }

      tfoot {
        tr {
          font-weight: 600;
          font-size: 24px;

          span {
            font-size: 26px;
          }
        }
      }
    }
  }
}