.uk-landing-page-desc {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  text-align: left;

  div {
    position: relative;
    width: 20px;
    height: 20px;
    &:before {
      font-family: 'icoFont';
      content: "\e903";
      width: 20px;
      height: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 14px;
      top: 0.5rem;
      color: var(--white);
      background: var(--green);
    }
  }
}

.stripe-input {
  background-color: #FFFFFF !important;
  padding: 15px !important;
}

.verified-image-wrapper {
  margin: auto;
  border: 1px solid #0080FF;
  background-color: #FFFFFF;
}
.image-loading-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-summary .item-wrap ul li .name .img {
  position: relative;
}

.preview-cart-item {
  position: relative;
  min-height: 300px;
  min-width: 300px;

  img {
    position: relative;
    max-height: 90vh;
    max-width: 90vw;
  }
}

.spacer {
  flex-grow: 1;
}