.application-form {
  .data-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .progress-wrap {
    width: 23.9%;
    padding: 27px 20px 27px 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 1px solid var(--selago);
      opacity: 0.5;
    }

    h2 {
      margin: 0;
      padding-bottom: 39px;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.22;
      color: var(--shuttle-gray);
    }

    ul {
      counter-reset: item;

      li {
        display: flex;
        align-items: flex-start;
        padding-bottom: 32px;
        position: relative;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          top: 44px;
          left: 23px;
          bottom: -4px;
          z-index: 2;
          border-right: 2px solid var(--porcelain);
          transition: border-color var(--transition);
        }

        .counter {
          padding: 2px;
          flex-shrink: 0;
          position: relative;
          z-index: 3;

          .line {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transform: scaleX(-1);
            transition: opacity var(--transition), visibility var(--transition);

            svg {
              width: 100%;
              height: 100%;
              stroke: var(--jungle-green);
              transform: rotate(-90deg);
            }
          }


          .index {
            width: 44px;
            height: 44px;
            display: block;
            position: relative;
            z-index: 1;
            border-radius: 50%;
            border: 2px solid transparent;
            counter-increment: item;
            transition: border-color var(--transition);

            &:before,
            &:after {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 1;
              border-radius: 50%;
              transition: opacity var(--transition), visibility var(--transition), color var(--transition), border-color var(--transition), background-color var(--transition);
            }

            &:before {
              counter-increment: li;
              content: counter(item);

              font-weight: 600;
              font-size: 18px;
              line-height: 1;
              color: var(--shuttle-gray);
              white-space: pre-wrap;
              background-color: white;
              border: 2px solid var(--porcelain);
            }

            &:after {
              font-family: 'icoFont';
              content: "\e903";

              padding: 2px 0 0 2px;
              font-size: 27px;
              color: var(--jungle-green);

              background: rgba(39, 174, 96, 0.3);
              box-shadow: 0 0 96px rgba(0, 0, 0, 0.1);

              opacity: 0;
              visibility: hidden;
            }
          }
        }

        .name {
          min-height: 48px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 12px;

          h4 {
            margin: 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.37;
            color: var(--shuttle-gray);
            transition: color var(--transition);
          }

          p {
            margin: 0;
            max-height: 0;
            padding-top: 3px;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.3;
            color: var(--shuttle-gray);
            overflow: hidden;
            transition: max-height var(--transition);
          }
        }

        &.done {
          &:before {
            border-color: var(--jungle-green);
          }

          .counter {
            .line {
              opacity: 1;
              visibility: visible;
            }

            .index {
              border-color: white;

              &:before {
                opacity: 0;
                visibility: hidden;
              }

              &:after {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          .name {
            h4 {
              color: var(--jungle-green);
            }

            p {
              max-height: 200px;
            }
          }
        }

        &.current {
          .counter {
            .line {
              opacity: 1;
              visibility: visible;
            }

            .index {
              border-color: white;

              &:before {
                color: var(--white);
                border-color: var(--azure-radiance);
                background-color: var(--azure-radiance);
                box-shadow: 0 0 96px rgba(0, 0, 0, 0.1);
              }

            }
          }

          .name {
            h4 {
              font-weight: 600;
              color: var(--azure-radiance);
            }

            p {
              max-height: 200px;
            }
          }
        }

        &:last-child {
          padding-bottom: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  .form-wrap {
    width: calc(100% - 23.9%);
    padding: 23px 0 35px 20px;

    .limit-width {
      max-width: 813px;
    }

    .form-notice {
      padding-bottom: 26px;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 25px;

        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;

        background: var(--gin-fizz);
        border-radius: 4px;
        border-left: 4px solid var(--azure-radiance);

        span.icon-info {
          display: flex;
          padding-left: 20px;
          font-size: 25px;
          color: var(--azure-radiance);
        }
      }
    }

    .form-fields {
      .form-notice {
        width: 100%;
        margin: 0 10px;
      }
    }

    form > .form-fields > .extra-info {
      padding-top: 0;
    }
  }
}

.application-toolbar {
  padding: 15px 0;
  background-color: var(--catskill-white);
  box-shadow: 0 0 96px rgba(0, 0, 0, 0.1);

  .data-wrap {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 23.9%);
    padding: 0 0 0 20px;
    margin: 0 0 0 auto;

    .back-btn {
      width: 100%;
      max-width: 222px;
      padding-right: 22px;

      .main-btn {
        width: 100%;
      }
    }

    .next-btn {
      width: 100%;
      max-width: 387px;

      .main-btn {
        width: 100%;
      }
    }
  }
}

.application-form,
.application-toolbar {
  &.blur {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
    }
  }
}

@media screen and (max-width: 1580px) {
  .add-btn {
    font-size: 13px;
  }
  .application-form .progress-wrap h2 {
    font-size: 16px;
  }
  .form-fields .extra-info h3 {
    font-size: 24px;
  }
  .form-fields label span.field.radio .extra, .form-fields label span.field.checkbox .extra {
    font-size: 15px;
  }
  .form-fields label span.field.radio .name, .form-fields label span.field.checkbox .name {
    font-size: 17px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 70px;
    padding: 8px 45px 8px 18px;
  }
  .form-fields label span.field.radio .bullet, .form-fields label span.field.checkbox .bullet {
    right: 10px;
  }
  .form-fields .extra-info label {
    max-width: 230px;
  }
  .application-form .form-wrap .form-notice p {
    padding: 20px;
    font-size: 15px;
  }
  /*  .form-fields label select {
      line-height: 1.47;
    }*/
  .form-fields label span.more .field {
    margin-right: 15px;
  }
  .application-form .progress-wrap ul li .name h4 {
    font-size: 15px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 360px;
  }
  .application-form .progress-wrap ul li .name {
    min-height: 40px;
  }
  .application-form .progress-wrap ul li .counter .index {
    width: 40px;
    height: 40px;
  }
  .application-form .progress-wrap ul li:before {
    top: 42px;
    left: 21px;
    bottom: -3px;
  }
  .application-form .progress-wrap ul li .counter .index:before {
    font-size: 16px;
  }
  .application-form .progress-wrap ul li .counter .index:after {
    font-size: 24px;
  }
}

@media screen and (max-width: 1420px) {
  .application-form .progress-wrap h2 {
    padding-bottom: 30px;
  }
  .application-form .progress-wrap ul li .name {
    min-height: 36px;
    padding-left: 10px;
  }
  .application-form .progress-wrap ul li .counter .index {
    width: 36px;
    height: 36px;
  }
  .application-form .progress-wrap ul li:before {
    top: 38px;
    left: 19px;
    bottom: -2px;
  }
  .application-form .progress-wrap ul li .counter .index:after {
    font-size: 22px;
  }
  .application-form .progress-wrap ul li .counter .index:before {
    font-size: 14px;
  }
  .application-form .progress-wrap {
    padding: 22px 15px 22px 0;
  }
  .application-form .form-wrap {
    padding: 18px 0 25px 18px;
  }
  .application-toolbar .data-wrap {
    padding: 0 0 0 18px;
  }
  .form-fields .extra-info h3 {
    font-size: 22px;
  }
  .form-fields label span.field.radio .name, .form-fields label span.field.checkbox .name {
    font-size: 15px;
  }
  .form-fields label span.field.radio .extra, .form-fields label span.field.checkbox .extra {
    font-size: 14px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 60px;
    padding: 8px 40px 8px 13px;
  }
  .form-fields label span.field.radio .bullet, .form-fields label span.field.checkbox .bullet {
    width: 24px;
    height: 24px;
  }
  .form-fields .extra-info label {
    max-width: 200px;
  }
  .form-fields label span.attention {
    margin-top: 10px;
    font-size: 13px;
  }
  .application-form .form-wrap .form-notice p {
    padding: 17px;
  }
}

@media screen and (max-width: 1180px) {

}

@media screen and (max-width: 991px) {
  .application-form .progress-wrap h2,
  .application-form .progress-wrap ul li .name,
  .application-form .progress-wrap:after {
    display: none;
  }
  .application-form .progress-wrap ul li .counter .index {
    width: 44px;
    height: 44px;
  }
  .application-form .progress-wrap ul li .counter .index:after {
    font-size: 27px;
  }
  .application-form .progress-wrap ul li .counter .index:before {
    font-size: 18px;
  }
  .application-form .progress-wrap ul li:before {
    top: 44px;
    left: 23px;
    bottom: -4px;
  }
  .application-form .progress-wrap {
    width: 70px;
    padding: 22px 22px 22px 0;
  }
  .application-form .form-wrap {
    width: calc(100% - 70px);
    padding: 18px 0 25px 0;
  }
  .application-toolbar .data-wrap {
    width: calc(100% - 70px);
    padding: 0;
  }
}

@media screen and (max-width: 810px) {

}

@media screen and (max-width: 760px) {

}

@media screen and (max-width: 640px) {
  .form-fields .extra-info h3 {
    font-size: 20px;
  }
  .form-fields .extra-info {
    flex-direction: column;
  }
  .form-fields .extra-info label {
    max-width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .form-fields label.third-size {
    width: calc(100% - 20px);
  }
  .form-fields label:not(.error) span.warning {
    max-height: 0;
  }
  .application-form .form-wrap .form-fields {
    label {
      padding: 5px 0;
    }

    label span.label,
    .group .group-label p {
      padding-bottom: 14px;
      font-size: 14px;
    }

    label input,
    label select,
    label textarea {
      min-height: 50px;
      padding: 13px 19px;
      font-size: 16px;
    }

    .extra-info label {
      padding: 20px 0 0 0;
    }
  }
  .form-fields .group {
    padding: 5px 0;
  }
  .application-form .progress-wrap {
    padding: 18px 22px 20px 0;
  }
  .application-form .form-wrap {
    padding: 19px 0;
  }
  .form-fields label span.field.radio .name,
  .form-fields label span.field.checkbox .name {
    font-size: 16px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 64px;
    padding: 8px 50px 8px 10px;
  }
  .form-fields label span.field.radio .extra,
  .form-fields label span.field.checkbox .extra {
    padding-top: 6px;
    font-size: 14px;
  }
  .form-fields label span.more {
    align-items: unset;
    flex-direction: column;
  }
  .form-fields label span.more .field {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .application-toolbar .data-wrap .main-btn {
    min-height: 48px;
    font-size: 18px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 215px;
  }
  .application-toolbar .data-wrap .back-btn {
    max-width: 120px;
    padding-right: 22px;
  }
  .application-form .progress-wrap ul {
    position: sticky;
    top: 10px;
  }
}

@media screen and (max-width: 400px) {
}