@media screen and (max-width: 1580px) {
  //width: 1600px
  .wrapper {
    max-width: 1326px;
  }
  .container {
    max-width: 1110px;
  }
  .main-btn {
    font-size: 16px;

    &.big {
      min-height: 62px;
    }

    &.small {
      //min-height: 38px;
      font-size: 15px;
    }
  }

  .sub-title h2 {
    font-size: 34px;
  }
  .sub-title p {
    padding-top: 17px;
    font-size: 16px;
  }

  .main-intro .intro-wrap {
    padding: 9.4% 0 2% 0;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 82px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 35px !important;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 33px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 27px;
    height: 27px;
    font-size: 20px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 4px 0 4px 33px;
    margin-bottom: 12px;
    font-size: 16px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 36px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 256px;
  }
  .working-process .process-list ul li {
    padding: 0 0 14px 6px;
  }
  .working-process .process-list ul li .label h3 {
    min-height: 40px;
    font-size: 17px;
  }
  .working-process .process-list ul li .description {
    padding: 21px 0 5px 0;
  }
  .working-process .process-list ul li .description p {
    font-size: 16px;
  }
  .reviews-platform .reviews-item .item-wrap .content {
    margin-right: -5px;
  }
  .reviews-platform .reviews-item .item-wrap .content p {
    font-size: 15px;
    line-height: 1.3;
  }
  .reviews-platform .reviews-item .item-wrap .author .picture {
    width: 64px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name {
    padding-left: 11px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name h3 {
    font-size: 17px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name p {
    padding-top: 8px;
    font-size: 13px;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 35px;
  }
  .faq-section .data-wrap {
    padding: 2.4% 0 4.1% 0;
  }
  .faq-section .faq-list ul li .question {
    padding: 37px 0;
  }
  .faq-section .faq-list ul li .question h3 {
    font-size: 18px;
  }
  .faq-section .faq-list ul li .question h3 span.icon-close {
    width: 42px;
    height: 42px;
  }
  .faq-section .faq-list ul li .answer p {
    max-width: 93%;
    padding-left: 21px;
    font-size: 16px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 15px;
    font-size: 15px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 56px;
    padding: 16px 18px;
    font-size: 15px;
  }
  .form-fields label span.warning {
    max-height: 19px;
    font-size: 13px;
  }
  .faq-form .form-wrap form .form-fields label {
    padding: 4px 0 17px 0;
  }
  .form-fields label textarea {
    height: 138px;
  }


  .application-list ul li:not(.add-application) {
    max-width: 210px;
  }
  .application-list ul li .main-btn.small {
    min-height: 50px;
  }
  .add-btn {
    font-size: 13px;
  }
  .application-form .progress-wrap h2 {
    font-size: 16px;
  }
  .form-fields .extra-info h3 {
    font-size: 24px;
  }
  .form-fields label span.field.radio .extra, .form-fields label span.field.checkbox .extra {
    font-size: 15px;
  }
  .form-fields label span.field.radio .name, .form-fields label span.field.checkbox .name {
    font-size: 17px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 70px;
    padding: 8px 45px 8px 18px;
  }
  .form-fields label span.field.radio .bullet, .form-fields label span.field.checkbox .bullet {
    right: 10px;
  }
  .form-fields .extra-info label {
    max-width: 230px;
  }
  .application-form .form-wrap .form-notice p {
    padding: 20px;
    font-size: 15px;
  }
  /*  .form-fields label select {
      line-height: 1.47;
    }*/
  .form-fields label span.more .field {
    margin-right: 15px;
  }
  .application-form .progress-wrap ul li .name h4 {
    font-size: 15px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 360px;
  }
  .application-form .progress-wrap ul li .name {
    min-height: 40px;
  }
  .application-form .progress-wrap ul li .counter .index {
    width: 40px;
    height: 40px;
  }
  .application-form .progress-wrap ul li:before {
    top: 42px;
    left: 21px;
    bottom: -3px;
  }
  .application-form .progress-wrap ul li .counter .index:before {
    font-size: 16px;
  }
  .application-form .progress-wrap ul li .counter .index:after {
    font-size: 24px;
  }
  .application-list ul li.add-application .add-form .top-info h4 {
    font-size: 19px;
  }
  .application-list ul li.add-application .add-form table tr td {
    padding: 15px 0;
    font-size: 15px;
  }
  .application-list ul li.add-application .add-form table tr td:last-child span {
    font-size: 18px;
  }
  .application-list ul li.add-application .add-form {
    width: 455px;
    padding-top: 35px;
  }
}

@media screen and (max-width: 1420px) {
  //width: 1440px
  .wrapper {
    max-width: 1110px;
  }

  .container {
    max-width: 930px;
  }

  .sub-title h2 {
    font-size: 29px;
  }

  .sub-title p {
    padding-top: 15px;
    font-size: 14px;
  }

  .main-btn {
    padding: 8px 11px;
    font-size: 14px;

    &.big {
      min-height: 54px;
    }

    &.small {
      font-size: 13px;
    }

  }

  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 70px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 31px !important;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap {
    padding: 9px;
    bottom: 8px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 22px;
    height: 22px;
    font-size: 17px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 3px 0 3px 29px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 30px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 215px;
  }
  .main-intro .intro-wrap {
    padding: 10.4% 0 2% 0;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 29px;
  }
  .working-process .process-list ul li .label h3 {
    min-height: 32px;
    font-size: 14px;
  }
  .working-process .process-list ul {
    padding-left: 24px;
  }
  .working-process .process-list ul li .progress {
    width: 24px;
    left: -24px;
  }
  .working-process .process-list ul li .progress .progress-bullet {
    top: 4px;
    width: 24px;
    height: 24px;
  }
  .working-process .process-list ul li .progress .progress-bullet:after {
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
  }
  .working-process .process-list ul li .progress .progress-track {
    left: 12px;
  }
  .working-process .process-list ul li .progress .progress-bar {
    left: 11px;
  }
  .working-process .process-list ul li .progress .progress-bar,
  .working-process .process-list ul li .progress .progress-track {
    top: 23px;
    bottom: -10px;
  }
  .working-process .process-list ul li .description p {
    font-size: 14px;
  }
  .working-process .process-list ul li .description {
    padding: 17px 0 4px 0;
  }
  .working-process .process-list ul li {
    padding: 0 0 12px 5px;
  }
  .reviews-platform .reviews-item .item-wrap .content p {
    font-size: 13px;
  }
  .reviews-platform .reviews-item .item-wrap .author .picture {
    width: 54px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name {
    padding-left: 9px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name h3 {
    font-size: 15px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name p {
    padding-top: 4px;
    font-size: 12px;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 30px;
  }
  .reviews-platform .reviews-wrap .slider-shade:before,
  .reviews-platform .reviews-wrap .slider-shade:after {
    width: 70px;
  }
  .faq-section .faq-list {
    padding-top: 4px;
  }
  .faq-section .faq-list ul li .question h3 {
    font-size: 16px;
  }
  .faq-section .faq-list ul li .question {
    padding: 27px 0;
  }
  .faq-section .faq-list ul li .question h3 span.icon-close {
    width: 36px;
    height: 36px;
    font-size: 11px;
  }
  .faq-section .faq-list ul li .answer p {
    max-width: 94%;
    padding-left: 17px;
    font-size: 14px;
  }
  .faq-section .faq-list ul li .answer {
    padding: 0 0 14px 0;
  }
  .faq-section .faq-list ul li {
    margin: 12px 0;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 12px;
    font-size: 14px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 47px;
    padding: 12px 13px;
    font-size: 14px;
  }
  .form-fields label textarea {
    height: 116px;
  }

  .application-form .progress-wrap h2 {
    padding-bottom: 30px;
  }
  .application-form .progress-wrap ul li .name {
    min-height: 36px;
    padding-left: 10px;
  }
  .application-form .progress-wrap ul li .counter .index {
    width: 36px;
    height: 36px;
  }
  .application-form .progress-wrap ul li:before {
    top: 38px;
    left: 19px;
    bottom: -2px;
  }
  .application-form .progress-wrap ul li .counter .index:after {
    font-size: 22px;
  }
  .application-form .progress-wrap ul li .counter .index:before {
    font-size: 14px;
  }
  .application-form .progress-wrap {
    padding: 22px 15px 22px 0;
  }
  .application-form .form-wrap {
    padding: 18px 0 25px 18px;
  }
  .application-toolbar .data-wrap {
    padding: 0 0 0 18px;
  }
  .form-fields .extra-info h3 {
    font-size: 22px;
  }
  .form-fields label span.field.radio .name, .form-fields label span.field.checkbox .name {
    font-size: 15px;
  }
  .form-fields label span.field.radio .extra, .form-fields label span.field.checkbox .extra {
    font-size: 14px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 60px;
    padding: 8px 40px 8px 13px;
  }
  .form-fields label span.field.radio .bullet, .form-fields label span.field.checkbox .bullet {
    width: 24px;
    height: 24px;
  }
  .form-fields .extra-info label {
    max-width: 200px;
  }
  .form-fields label span.attention {
    margin-top: 10px;
    font-size: 13px;
  }
  .application-form .form-wrap .form-notice p {
    padding: 17px;
  }
}

@media screen and (max-width: 1180px) {
  //width: 1200px
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper,
  .container {
    padding: 0 20px;
  }
  body {
    &.scroll-lock {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
  }

  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 56px;
  }
  .application-form .progress-wrap h2,
  .application-form .progress-wrap ul li .name,
  .application-form .progress-wrap:after {
    display: none;
  }
  .application-form .progress-wrap ul li .counter .index {
    width: 44px;
    height: 44px;
  }
  .application-form .progress-wrap ul li .counter .index:after {
    font-size: 27px;
  }
  .application-form .progress-wrap ul li .counter .index:before {
    font-size: 18px;
  }
  .application-form .progress-wrap ul li:before {
    top: 44px;
    left: 23px;
    bottom: -4px;
  }
  .application-form .progress-wrap {
    width: 70px;
    padding: 22px 22px 22px 0;
  }
  .application-form .form-wrap {
    width: calc(100% - 70px);
    padding: 18px 0 25px 0;
  }
  .application-toolbar .data-wrap {
    width: calc(100% - 70px);
    padding: 0;
  }
  .application-list ul li.add-application .add-form {
    width: 440px;
    padding-top: 25px;
  }
}

@media screen and (max-width: 810px) {

  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 50px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 24px !important;
  }
  .working-process .process-img {
    width: 100%;
    padding-bottom: 19px;
    order: 1;
  }
  .working-process .process-img span {
    border-radius: 20px;
  }
  .working-process .process-list {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding-right: 0;
    order: 2;
  }

  .working-process .process-list ul {
    display: flex;
    padding: 0 20px;
  }
  .working-process .process-list ul li {
    width: 289px;
    flex-shrink: 0;
    padding: 47px 13px 0 0;
  }
  .working-process .process-list ul li .description {
    padding: 15px 0 0 0;
    max-height: unset;
    transform: translateY(0);
    opacity: 1;
  }
  .working-process .process-list ul li[data-active="true"] .description {
    max-height: unset;
  }
  .working-process .process-list ul li .progress .progress-bullet {
    top: 0;
    width: 30px;
    height: 30px;
  }
  .working-process .process-list ul li .progress .progress-bullet:after {
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
  }
  .working-process .process-list ul li .progress {
    width: unset;
    height: 30px;
    left: 0;
    right: 0;
    bottom: unset;
  }

  .working-process .process-list ul li .label h3 {
    min-height: 38px;
    font-size: 16px;
  }
  .working-process .process-list ul li .description p {
    font-size: 14px;
    line-height: 1.58;
  }

  .working-process .process-list ul li .progress .progress-bar,
  .working-process .process-list ul li .progress .progress-track {
    right: -8px;
    left: 23px;
    bottom: unset;
  }
  .working-process .process-list ul li .progress .progress-bar {
    top: 14px;
  }
  .working-process .process-list ul li .progress .progress-track {
    top: 15px;
  }
  .working-process .process-list ul li .progress .progress-track {
    width: unset;
    height: 1px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: none;
    border-bottom: none;
    background: repeating-linear-gradient(to right, var(--azure-radiance) 0, var(--azure-radiance) 3px, transparent 3px, transparent 6px);
  }
  .working-process .process-list ul li .progress .progress-bar {
    width: unset;
    height: 3px;
    transform: scale(0, 1);
  }
  .working-process .process-list ul li[data-active="true"][data-reset="true"] .progress .progress-bar {
    transform: scale(0, 1);
  }
  .working-process .process-list ul li[data-past="true"] .progress-bar {
    transform: scale(1, 1);
    opacity: 1;
  }
  .reviews-platform .reviews-wrap .slider-wrap .swiper-container:nth-child(odd) {
    padding: 0 6% 0 16.4%;
  }
  .reviews-platform .reviews-wrap .slider-wrap .swiper-container:nth-child(even) {
    padding: 0 16.4% 0 6%;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 25px;
  }
}

@media screen and (max-width: 760px) {
  .sub-title h2 {
    font-size: 26px;
    letter-spacing: -1.5px;
  }
  .sub-title p {
    padding-top: 19px;
    font-size: 18px;
  }
  .main-btn {
    padding: 10px 15px;
    font-size: 18px;

    &.big {
      min-height: 70px;
    }
  }

  .main-intro .intro-wrap .intro-title {
    width: 100%;
  }
  .main-intro .intro-wrap .intro-img {
    width: 100%;
    display: none;

  }
  .main-intro .intro-wrap .intro-img span {
    margin: 0;
    text-align: center;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: -1.5px;
  }
  .main-intro {
    margin-top: -57px;
  }
  .main-intro .intro-wrap {
    padding: 117px 0 30px 0;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 30px !important;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap {
    padding: 10px;
    bottom: -2px;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 42px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 24px;
    height: 24px;
    font-size: 17px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 1px 0 1px 32px;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 1.37;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 60px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 380px;
  }
  .working-process .data-wrap {
    padding: 30px 0;
  }
  .working-process .process-wrap {
    padding-top: 21px;
  }

  .reviews-platform .data-wrap {
    padding: 30px 0;
  }
  .reviews-platform .sub-title {
    padding-bottom: 11px;
  }
  .reviews-platform .reviews-item .item-wrap .content p {
    display: block;
    font-size: 16px;
    line-height: 1.37;
  }
  .reviews-platform .reviews-item .item-wrap .author .picture {
    width: 70px;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 40px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name h3 {
    font-size: 18px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name p {
    padding-top: 11px;
    font-size: 14px;
  }
  .reviews-platform .reviews-item .item-wrap {
    padding: 20px;
  }
  .reviews-platform .reviews-item .item-wrap .content {
    margin-right: 0;
  }
  .faq-section .data-wrap {
    padding: 21px 0;
  }
  .faq-section .faq-list {
    padding-top: 12px;
  }
  .faq-section .faq-list ul li {
    margin: 10px 0;
    padding: 12px 24px;
  }
  .faq-section .faq-list ul li .question h3 {
    font-size: 18px;
  }
  .faq-section .faq-list ul li .question {
    padding: 15px 0;
  }
  .faq-section .faq-list ul li .question h3 span.icon-close {
    width: 48px;
    height: 48px;
    font-size: 11px;
  }
  .faq-section .faq-list ul li .answer {
    padding: 7px 0 19px 0;
  }
  .faq-section .faq-list ul li .answer p {
    max-width: unset;
    padding-left: 16px;
    font-size: 14px;
  }
  .faq-form .data-wrap {
    padding: 52px 0;
    margin-bottom: 30px;
  }
  .faq-form .form-wrap {
    padding: 40px 20px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 17px;
    font-size: 16px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 59px;
    padding: 18px 19px;
    font-size: 16px;
  }
  .faq-form .form-wrap form .form-fields label {
    padding: 4px 0 20px 0;
  }
  .form-fields label.half-size {
    width: calc(100% - 20px);
  }
  .faq-form .form-wrap form {
    padding-top: 36px;
  }
  .form-fields label textarea {
    height: 183px;
  }
  .form-fields label span.warning {
    max-height: 21px;
    font-size: 14px;
  }

  .reviews-platform .reviews-wrap .slider-shade,
  .reviews-platform .reviews-wrap .slider-wrap {
    display: none;
  }
  .reviews-platform .reviews-wrap .mobile-slider {
    display: block;
  }
  .form-fields label.third-size {
    width: calc(100% / 2 - 20px);
  }
  .application-toolbar .data-wrap {
    width: 100%;
  }
  .floating-wrap {
    padding-bottom: 80px;
    position: relative;
    z-index: 1;

    .application-toolbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      z-index: 3;
      background-color: unset;
      box-shadow: none;
      pointer-events: none;

      .container {
        padding: 11px 20px;
        position: sticky;
        bottom: 0;
        background: var(--catskill-white);
        box-shadow: 0 0 96px rgba(0, 0, 0, 0.1);
        pointer-events: auto;
      }
    }
  }
  .application-list ul li .main-btn.small {
    min-height: 40px;
    font-size: 14px;
  }
  .application-list ul li:not(.add-application) {
    max-width: unset;
    width: auto;
  }
  .add-btn span.icon-close {
    width: 42px;
    height: 42px;
    font-size: 10px;
  }
  .add-btn {
    font-size: 14px;
  }
  .application-list ul li.add-application .add-form {
    width: 300px;
    padding-top: 20px;
  }
  .application-list ul li.add-application .add-form .bg-wrap {
    padding: 9px 15px;
  }
  .application-list ul li.add-application .add-form .top-info h4 {
    font-size: 16px;
  }
  .application-list ul li.add-application .add-form table tr td {
    padding: 10px 0;
    font-size: 14px;
  }
  .application-list ul li.add-application .add-form table tr td:last-child span {
    font-size: 16px;
  }
  .application-list ul li.add-application .add-form {
    right: 10px;
  }

}

@media screen and (max-width: 640px) {
  .form-fields .extra-info h3 {
    font-size: 20px;
  }
  .form-fields .extra-info {
    flex-direction: column;
  }
  .form-fields .extra-info label {
    max-width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .form-fields label.third-size {
    width: calc(100% - 20px);
  }
  .form-fields label:not(.error) span.warning {
    max-height: 0;
  }
  .application-form .form-wrap .form-fields {
    label {
      padding: 5px 0;
    }

    label span.label,
    .group .group-label p {
      padding-bottom: 14px;
      font-size: 14px;
    }

    label input,
    label select,
    label textarea {
      min-height: 50px;
      padding: 13px 19px;
      font-size: 16px;
    }

    .extra-info label {
      padding: 20px 0 0 0;
    }
  }
  .form-fields .group {
    padding: 5px 0;
  }
  .application-form .progress-wrap {
    padding: 18px 22px 20px 0;
  }
  .application-form .form-wrap {
    padding: 19px 0;
  }
  .form-fields label span.field.radio .name,
  .form-fields label span.field.checkbox .name {
    font-size: 16px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 64px;
    padding: 8px 50px 8px 10px;
  }
  .form-fields label span.field.radio .extra,
  .form-fields label span.field.checkbox .extra {
    padding-top: 6px;
    font-size: 14px;
  }
  .form-fields label span.more {
    align-items: unset;
    flex-direction: column;
  }
  .form-fields label span.more .field {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .application-toolbar .data-wrap .main-btn {
    min-height: 48px;
    font-size: 18px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 215px;
  }
  .application-toolbar .data-wrap .back-btn {
    max-width: 120px;
    padding-right: 22px;
  }
  .application-list ul li.add-application {
    position: static;
  }
  .application-list ul {
    position: relative;
  }
  .application-form .progress-wrap ul {
    position: sticky;
    top: 10px;
  }
  .application-list ul li.add-application .add-form {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .application-list ul li.add-application.open-right .add-form {
    left: 50%;
  }
}

@media screen and (max-width: 400px) {
}
