:root {
  --transition: .3s ease-in-out;
  --averta: 'Averta CY W10', sans-serif;

  --azure-radiance: #0080FF;
  --selago: #F1F5FE;
  --porcelain: #ECEFF1;
  --catskill-white: #F8FAFC;
  --jungle-green: #27AE60;
  --black: #000000;
  --white: #FFFFFF;
  --shuttle-gray: #5b616e;
  --gin-fizz: #FFF8E0;
  --burnt-sienna: #EB5757;
  --dandelion: #FFE165;
  --chestnut: #B84747;

  --science-blue: #006FDE;

}

body {
  position: relative;
  min-width: 320px;
  color: var(--black);
  font-family: var(--averta);
}

.overflow-wrap {
  overflow: hidden;
}

* {
  outline: none;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, a:focus, a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

button {
  padding: 0;
  cursor: pointer;
}

input,
button,
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
}

.sub-title {
  text-align: center;

  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: -0.5px;
  }

  p {
    margin: 0;
    padding-top: 21px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: var(--shuttle-gray);
  }
}

.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  border: 1px solid var(--azure-radiance);
  background-color: var(--azure-radiance);
  border-radius: 4px;
  transition: color var(--transition), border-color var(--transition), background-color var(--transition);
  cursor: pointer;

  &.full-size {
    width: 100%;
  }

  span, i {
    display: flex;

    &.icon-left {
      padding-right: 10px;
    }

    &.icon-right {
      padding-left: 10px;
    }

    &.icon-remove {
      margin-left: 9px;
      font-size: 19px;
      color: var(--burnt-sienna);
    }

    &.icon-close {
      margin-left: 13px;
      font-size: 10px;

      &:before {
        display: block;
        transform: rotate(45deg);
      }
    }

    &.icon-logout {
      padding-left: 10px;
      font-size: 18px;
    }

    &.icon-camera {
      padding-right: 10px;
    }

    &.icon-upload {
      padding-right: 10px;
      font-size: 22px;
    }
  }

  &.big {
    min-height: 70px;
  }

  &.medium {
    min-height: 58px;
  }

  &.small {
    min-height: 38px;
    font-size: 16px;
  }

  &.disabled {
    color: var(--shuttle-gray);
    border-color: var(--selago);
    background-color: var(--selago);
    pointer-events: none;
  }

  &.outline {
    color: var(--azure-radiance);
    border-color: var(--azure-radiance);
    background-color: var(--white);

    &.disabled {
      color: var(--shuttle-gray);
      border-color: var(--selago);
      background-color: var(--white);
    }
  }

  &.blank {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
  }

  &.no-border {
    color: var(--azure-radiance);
    border-color: var(--white);
    background-color: var(--white);
  }

  &:hover {
    color: var(--white);
    border-color: var(--science-blue);
    background-color: var(--science-blue);
  }
}

.add-btn {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: var(--shuttle-gray);
  text-align: left;
  border: none;
  background: none;

  span.icon-close {
    width: 49px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: var(--azure-radiance);
    background-color: var(--white);
    border: 1px solid var(--porcelain);
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), border-color var(--transition);

    &:before {
      display: block;
      transform: rotate(45deg);
      transition: transform var(--transition);
    }
  }

  &:hover {
    span.icon-close {
      color: var(--white);
      background-color: var(--azure-radiance);
      border-color: var(--azure-radiance);
    }
  }
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .extra-info {
    width: 100%;
    margin: 0 10px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
      font-weight: bold;
      font-size: 28px;
      line-height: 1.1;
      letter-spacing: -0.5px;
    }

    label {
      width: 100%;
      max-width: 244px;
      margin-right: 0;
      padding: 0;

      span.warning {
        position: static;
      }

      &:not(.error) {
        span {
          &.warning {
            max-height: 0;
          }
        }
      }
    }
  }

  .group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .group-label {
      width: 100%;
      padding: 0 10px;

      p {
        margin: 0;
        padding-bottom: 17px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        transition: color var(--transition);
      }
    }

    &.error {
      .group-label {
        p {
          color: var(--burnt-sienna);
        }
      }
    }

    &.disabled {
      .group-label {
        p {
          color: var(--shuttle-gray);
        }
      }
    }
  }

  label {
    display: block;
    margin: 0 10px;
    padding: 6px 0 28px 0;
    position: relative;

    &.full-size {
      //width: calc(100% - 20px);
      width: 100%;
    }

    &.half-size {
      width: calc(100% / 2 - 20px);
    }

    &.third-size {
      width: calc(100% / 3 - 20px);
    }

    span {
      display: block;
      line-height: 1;

      &.label {
        padding-bottom: 17px;
        font-weight: 600;
        font-size: 16px;
        transition: color var(--transition);
      }

      &.warning {
        max-height: 21px;
        font-weight: normal;
        font-size: 14px;
        color: var(--burnt-sienna);
        line-height: 1.5;
        text-align: right;
        white-space: nowrap;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        pointer-events: none;
        transition: opacity var(--transition), visibility var(--transition), max-height var(--transition);
      }

      &.field {
        position: relative;
        //z-index: 1;

        &.select {
          &:after {
            font-family: 'icoFont';
            content: "\e902";
            display: flex;
            align-items: center;
            font-size: 11px;
            color: var(--shuttle-gray);
            position: absolute;
            top: 0;
            right: 27px;
            bottom: 0;
            transition: color var(--transition), transform var(--transition);
          }
        }

        &.radio,
        &.checkbox {
          min-height: 78px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px 50px 10px 20px;
          cursor: pointer;

          &.with-price {
            min-height: 56px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .name {
              flex: 1;
            }
          }

          .name {
            display: flex;
            align-items: center;
            font-weight: normal;
            font-size: 18px;
            line-height: 1;
            transition: color var(--transition);

            b {
              font-weight: 600;
            }

            .icon-about {
              padding: 0 5px;
              color: var(--shuttle-gray);
            }
          }

          .price {
            padding: 0 4px 0 10px;
            font-weight: normal;
            font-size: 16px;
            line-height: 1;
            color: var(--azure-radiance);
          }

          .extra {
            padding-top: 4px;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.2;
          }

          .bullet {
            width: 28px;
            height: 28px;
            position: absolute;
            top: 50%;
            right: 16px;
            border: 3px solid var(--azure-radiance);
            transform: translateY(-50%);
            transition: border-color var(--transition);
            pointer-events: none;

            &:before {
              content: '';
              position: absolute;
              top: -1px;
              left: -1px;
              right: -1px;
              bottom: -1px;
              opacity: 0;
              visibility: hidden;
              background-color: white;
              border: 4px solid var(--azure-radiance);
              transition: opacity var(--transition), visibility var(--transition), background-color var(--transition), border-color var(--transition);
            }
          }

          .border {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            background: var(--white);
            border: 1px solid var(--porcelain);
            border-radius: 4px;
            transition: color var(--transition), border-color var(--transition);
            pointer-events: none;
          }

          input {
            opacity: 0;
            visibility: hidden;
            position: absolute;

            &:checked {
              + .wrap {
                .bullet {
                  border-color: transparent;

                  &:before {
                    opacity: 1;
                    visibility: visible;
                  }
                }

                .border {
                  border-color: var(--azure-radiance);
                }
              }
            }
          }
        }

        &.radio {
          .bullet {
            border-radius: 50%;

            &:before {
              border-radius: 50%;
            }
          }
        }
      }

      &.more {
        display: flex;
        align-items: center;

        .field {
          flex: 1;
          margin-right: 20px;
        }
      }

      &.attention {
        margin-top: 13px;
        padding-left: 27px;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.59;
        color: var(--burnt-sienna);
        position: relative;

        &:after {
          font-family: 'icoFont';
          content: "\e901";
          font-size: 21px;
          position: absolute;
          top: -4px;
          left: 0;
        }
      }
    }

    .stripe-input,
    input,
    select,
    textarea {
      width: 100%;
      padding: 18px 19px;
      font-weight: normal;
      font-size: 16px;
      line-height: 1;
      background: var(--white);
      border: 1px solid var(--porcelain);
      border-radius: 4px;
      transition: color var(--transition), border-color var(--transition);

      &::placeholder {
        color: var(--shuttle-gray);
        transition: color var(--transition);
      }

      &:focus {
        border-color: var(--azure-radiance);
      }

      &.focus {
        border-color: var(--azure-radiance);
      }
    }

    select {
      padding-right: 45px;
      line-height: 1.34;
      cursor: pointer;
    }

    textarea {
      height: 155px;
      resize: none;
    }

    &.error {
      span {
        &.label {
          color: var(--burnt-sienna);
        }

        &.warning {
          opacity: 1;
          visibility: visible;
        }

        &.field.radio,
        &.field.checkbox {
          .name {
            color: var(--burnt-sienna);
          }

          .wrap .border,
          input:checked + .wrap .border {
            border-color: var(--burnt-sienna);
          }

          .bullet,
          input:checked + .wrap .bullet {
            border-color: var(--burnt-sienna);
          }

          .bullet:before {
            opacity: 0.8;
            background-color: var(--burnt-sienna);
            border-color: white;
          }

        }
      }

      input,
      select,
      textarea {
        color: var(--burnt-sienna);
        border-color: var(--burnt-sienna);

        &::placeholder {
          color: var(--burnt-sienna);
        }
      }
    }

    &.disabled {
      span {
        &.label {
          color: var(--shuttle-gray);
        }
      }

      input,
      select,
      textarea {
        color: var(--shuttle-gray);
        border-color: var(--porcelain);
        background-color: var(--porcelain);
        pointer-events: none;

        &::placeholder {
          color: var(--shuttle-gray);
        }
      }

      span.field.radio,
      span.field.checkbox {
        pointer-events: none;

        .name {
          color: var(--shuttle-gray);
        }
      }

      span.field.radio .wrap .border,
      span.field.radio input:checked + .wrap .border,
      span.field.checkbox .wrap .border,
      span.field.checkbox input:checked + .wrap .border {
        border-color: var(--porcelain);
      }

      span.field.radio .bullet,
      span.field.radio input:checked + .wrap .bullet,
      span.field.checkbox .bullet,
      span.field.checkbox input:checked + .wrap .bullet {
        border-color: var(--shuttle-gray);
      }

      span.field.radio .bullet:before,
      span.field.checkbox .bullet:before {
        opacity: 0.8;
        background-color: var(--shuttle-gray);
        border-color: white;
      }
    }
  }
}


