.faq-form {
  .data-wrap {
    padding: 3.2% 0 8.4% 0;
  }

  .form-wrap {
    padding: 5% 8.5% 4% 8.5%;
    background: linear-gradient(139.37deg, var(--selago) 14.46%, rgba(241, 245, 254, 0) 88.08%), #FFFFFF;
    border-radius: 30px;

    form {
      padding-top: 5.7%;

      .form-fields label {
        padding: 4px 0 20px 0;
      }

      .submit-btn {
        text-align: right;

        .main-btn {
          width: 100%;
          max-width: 285px;
        }
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 256px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 15px;
    font-size: 15px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 56px;
    padding: 16px 18px;
    font-size: 15px;
  }
  .form-fields label span.warning {
    max-height: 19px;
    font-size: 13px;
  }
  .faq-form .form-wrap form .form-fields label {
    padding: 4px 0 17px 0;
  }
  .form-fields label textarea {
    height: 138px;
  }
}

@media screen and (max-width: 1420px) {
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 215px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 12px;
    font-size: 14px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 47px;
    padding: 12px 13px;
    font-size: 14px;
  }
  .form-fields label textarea {
    height: 116px;
  }
}

@media screen and (max-width: 1180px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 991px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 56px;
  }
}

@media screen and (max-width: 810px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 50px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 24px !important;
  }
}

@media screen and (max-width: 760px) {
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 380px;
  }
  .faq-form .data-wrap {
    padding: 52px 0;
    margin-bottom: 30px;
  }
  .faq-form .form-wrap {
    padding: 40px 20px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 17px;
    font-size: 16px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 59px;
    padding: 18px 19px;
    font-size: 16px;
  }
  .faq-form .form-wrap form .form-fields label {
    padding: 4px 0 20px 0;
  }
  .form-fields label.half-size {
    width: calc(100% - 20px);
  }
  .faq-form .form-wrap form {
    padding-top: 36px;
  }
  .form-fields label textarea {
    height: 183px;
  }
  .form-fields label span.warning {
    max-height: 21px;
    font-size: 14px;
  }
  .form-fields label.third-size {
    width: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 400px) {
}