.main-intro {
  margin-top: -68px;
  position: relative;
  z-index: 1;
  background: url('../../../public/images/intro-bg.png') center no-repeat;
  background-size: contain;
  overflow: hidden;

  .intro-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 9% 0 2% 0;

    .intro-title {
      width: 60%;
      position: relative;
      z-index: 2;

      .title {
        h1 {
          margin: 0;
          padding-bottom: 6px;
          font-weight: normal;
          font-size: 62px;
          line-height: 1.1;
          letter-spacing: -4.5px;

          b {
            font-weight: 600;
          }

          span.emoji-wrap {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 14px 14px;
            position: relative;
            bottom: 11px;
            background-color: var(--white);
            border-radius: 12px;

            img {
              max-width: 40px;
            }
          }
        }

        p {
          margin: 0;
          padding-bottom: 6px;
          font-size: 16px;
          line-height: 1.37;

          a {
            display: inline-flex;
            align-items: center;
            color: var(--azure-radiance);
            transition: color var(--transition);

            &:hover {
              color: var(--science-blue);

              .icon-right {
                transform: translateX(3px);
              }
            }
          }

          b {
            font-weight: 600;
          }

          .icon-play {
            padding-right: 10px;
            font-size: 24px;
          }

          .icon-right {
            padding-top: 1px;
            padding-left: 10px;
            font-size: 20px;
            transition: transform var(--transition);
          }
        }

        ul {
          padding-top: 36px;

          li {
            padding: 4px 0 4px 38px;
            margin-bottom: 15px;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.22;
            position: relative;

            &:before {
              font-family: 'icoFont';
              content: "\e903";
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px;
              font-size: 23px;
              color: var(--azure-radiance);
              position: absolute;
              top: 0;

              left: 0;
              border-radius: 50%;
              background-color: var(var(--white));
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &.big {
          h1 {
            padding-bottom: 0;
            font-size: 90px;
            line-height: 1.16;
          }

          ul {
            li {
              &:before {
                color: var(--white);
                background-color: var(--azure-radiance);
              }
            }
          }
        }
      }

      .btn-wrap {
        padding-top: 41px;

        .main-btn {
          width: 100%;
          max-width: 285px;
        }
      }

    }

    .intro-img {
      width: calc(100% - 60%);
      position: relative;
      z-index: 1;

      span {
        display: block;
        margin: 0 -36% 0 -17%;
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  .main-intro .intro-wrap {
    padding: 9.4% 0 2% 0;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 82px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 35px !important;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 33px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 27px;
    height: 27px;
    font-size: 20px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 4px 0 4px 33px;
    margin-bottom: 12px;
    font-size: 16px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 36px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 256px;
  }
}

@media screen and (max-width: 1420px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 70px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 31px !important;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap {
    padding: 9px;
    bottom: 8px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 22px;
    height: 22px;
    font-size: 17px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 3px 0 3px 29px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 30px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 215px;
  }
  .main-intro .intro-wrap {
    padding: 10.4% 0 2% 0;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 29px;
  }
}

@media screen and (max-width: 1180px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 991px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 56px;
  }
}

@media screen and (max-width: 810px) {
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 50px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 24px !important;
  }
}

@media screen and (max-width: 760px) {
  .main-intro .intro-wrap .intro-title {
    width: 100%;
  }
  .main-intro .intro-wrap .intro-img {
    width: 100%;
    display: none;

  }
  .main-intro .intro-wrap .intro-img span {
    margin: 0;
    text-align: center;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: -1.5px;
  }
  .main-intro {
    margin-top: -57px;
  }
  .main-intro .intro-wrap {
    padding: 117px 0 30px 0;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 30px !important;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap {
    padding: 10px;
    bottom: -2px;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 42px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 24px;
    height: 24px;
    font-size: 17px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 1px 0 1px 32px;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 1.37;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 60px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn {
    max-width: 380px;
  }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 400px) {
}