.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  padding: 3px 3px 0 3px;
  border-radius: 8px;
}

.react-html5-camera-photo:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-image: url('../../../public/images/cam-overlay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.5em;
}

#container-circles {
  z-index: 1000;
}