@media screen and (max-width: 1580px) {
  //width: 1600px
  .wrapper {
    max-width: 1326px;
  }
  .container {
    max-width: 1110px;
  }
  .main-btn {
    font-size: 16px;

    &.big {
      min-height: 62px;
    }

    &.small {
      //min-height: 38px;
      font-size: 15px;
    }
  }

  .sub-title h2 {
    font-size: 34px;
  }
  .sub-title p {
    padding-top: 17px;
    font-size: 16px;
  }

  header {
    padding: 11px 0;
  }
  header .toolbar .logo a,
  footer .additional-menu .data-wrap .logo a {
    max-width: 132px;
  }
  header .toolbar .main-menu ul li {
    padding: 0 11px;
  }
  header .toolbar .main-menu ul li a {
    font-size: 15px;
  }
  header .toolbar .main-menu ul li.with-drop > a span {
    padding-right: 15px;
  }
  header .toolbar .location .current p,
  header .toolbar .cart-btn a {
    font-size: 15px;
  }
  header .toolbar .main-menu {
    padding-left: 83px;
  }
  header .toolbar .sign-btn {
    padding-left: 17px;
  }
  header .toolbar .location .current p:before {
    font-size: 19px;
  }
  header .toolbar .cart-btn a span {
    margin-right: 7px;
    font-size: 19px;
  }
  header .toolbar .cart-btn {
    padding-left: 30px;
  }
  header .toolbar .location .current p {
    padding-right: 15px;
  }
  .main-intro .intro-wrap {
    padding: 9.4% 0 2% 0;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 82px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 35px;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 33px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 27px;
    height: 27px;
    font-size: 20px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 4px 0 4px 33px;
    margin-bottom: 12px;
    font-size: 16px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 36px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn,
  .start-btn .main-btn {
    max-width: 256px;
  }
  .working-process .process-list ul li {
    padding: 0 0 14px 6px;
  }
  .working-process .process-list ul li .label h3 {
    min-height: 40px;
    font-size: 17px;
  }
  .working-process .process-list ul li .description {
    padding: 21px 0 5px 0;
  }
  .working-process .process-list ul li .description p {
    font-size: 16px;
  }
  .reviews-platform .reviews-item .item-wrap .content {
    margin-right: -5px;
  }
  .reviews-platform .reviews-item .item-wrap .content p {
    font-size: 15px;
    line-height: 1.3;
  }
  .reviews-platform .reviews-item .item-wrap .author .picture {
    width: 64px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name {
    padding-left: 11px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name h3 {
    font-size: 17px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name p {
    padding-top: 8px;
    font-size: 13px;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 35px;
  }
  .faq-section .data-wrap {
    padding: 2.4% 0 4.1% 0;
  }
  .faq-section .faq-list ul li .question {
    padding: 37px 0;
  }
  .faq-section .faq-list ul li .question h3 {
    font-size: 18px;
  }
  .faq-section .faq-list ul li .question h3 span.icon-close {
    width: 42px;
    height: 42px;
  }
  .faq-section .faq-list ul li .answer p {
    max-width: 93%;
    padding-left: 21px;
    font-size: 16px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 15px;
    font-size: 15px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 56px;
    padding: 16px 18px;
    font-size: 15px;
  }
  .form-fields label span.warning {
    max-height: 19px;
    font-size: 13px;
  }
  .faq-form .form-wrap form .form-fields label {
    padding: 4px 0 17px 0;
  }
  .form-fields label textarea {
    height: 138px;
  }
  footer .additional-menu .data-wrap .menu ul li {
    padding-bottom: 15px;
    font-size: 16px;
  }
  footer .additional-menu .data-wrap .menu ul li a span {
    padding-right: 8px;
    font-size: 19px;
  }
  footer .extra-menu ul li {
    font-size: 14px;
  }
  footer .extra-menu .data-wrap {
    padding: 23px 0;
  }
  footer .disclaimer .data-wrap p {
    font-size: 13px;
  }
  footer .disclaimer .data-wrap {
    padding: 11px 0;
  }
  .application-list ul li:not(.add-application) {
    max-width: 210px;
  }
  .application-list ul li .main-btn.small {
    min-height: 50px;
  }
  .add-btn {
    font-size: 13px;
  }
  .progress-wrap h2,
  .account-menu h2 {
    font-size: 16px;
  }
  .form-fields .extra-info h3 {
    font-size: 24px;
  }
  .form-fields label span.field.radio .extra, .form-fields label span.field.checkbox .extra {
    font-size: 15px;
  }
  .cart-summary .item-wrap ul li .more .form-fields label span.field.radio .name .status,
  .cart-summary .item-wrap ul li .more .form-fields label span.field.checkbox .name .status {
    font-size: 13px;
  }
  .form-fields label span.field.radio .name, .form-fields label span.field.checkbox .name {
    font-size: 17px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 70px;
    padding: 8px 45px 8px 18px;
  }
  .form-fields label span.field.radio .bullet, .form-fields label span.field.checkbox .bullet {
    right: 10px;
  }
  .form-fields .extra-info label {
    max-width: 230px;
  }
  .application-form .form-wrap .form-notice p {
    padding: 20px;
    font-size: 15px;
  }
  /*  .form-fields label select {
      line-height: 1.47;
    }*/
  .form-fields label span.more .field {
    margin-right: 15px;
  }
  .progress-wrap ul li .name h4 {
    font-size: 15px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 360px;
  }
  .progress-wrap ul li .name {
    min-height: 40px;
  }
  .progress-wrap ul li .counter .index {
    width: 40px;
    height: 40px;
  }
  .progress-wrap ul li:before {
    top: 42px;
    left: 21px;
    bottom: -3px;
  }
  .progress-wrap ul li .counter .index:before {
    font-size: 16px;
  }
  .progress-wrap ul li .counter .index:after {
    font-size: 24px;
  }
  .application-list ul li.add-application .add-form .top-info h4 {
    font-size: 19px;
  }
  .application-list ul li.add-application .add-form table tr td {
    padding: 15px 0;
    font-size: 15px;
  }
  .application-list ul li.add-application .add-form table tr td:last-child span {
    font-size: 18px;
  }
  .application-list ul li.add-application .add-form {
    width: 455px;
    padding-top: 35px;
  }
  .page-title {
    padding: 17px;
  }
  .page-title .data-wrap h1 {
    font-size: 25px;
  }
  .page-title .data-wrap .btn-wrap .main-btn.small {
    min-height: 40px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .cart-summary .item-wrap ul li .name {
    padding: 13px 45px 14px 10px;
  }
  .cart-summary .item-wrap ul li .more {
    padding: 15px 10px;
  }
  .cart-summary .item-wrap ul li .name h4 {
    font-size: 16px;
  }
  .cart-summary .item-wrap ul li .name p {
    padding-top: 7px;
    font-size: 14px;
  }
  .cart-summary .item-wrap ul li .price p {
    font-size: 14px;
  }
  .cart-summary .item-wrap ul li .name button.icon-delete {
    top: 6px;
    right: 6px;
    font-size: 18px;
  }
  .cart-summary .item-wrap ul li .name .img {
    width: 47px;
    margin: 0 24px 0 3px;
  }
  .cart-summary .item-wrap .order-summary {
    padding: 28px 26px;
  }
  .cart-summary .item-wrap h3 {
    padding-bottom: 21px;
    font-size: 14px;
  }
  .cart-summary .item-wrap .order-summary table tr td {
    padding: 11px 0;
    font-size: 14px;
  }
  .cart-summary .item-wrap .order-summary table tfoot tr:first-child td {
    padding-top: 25px;
  }
  .cart-summary .item-wrap .order-summary table tfoot tr td {
    font-size: 16px;
  }
  .cart-summary {
    padding: 26px 0;
  }
  .switcher-box label span.box-wrap .option {
    font-size: 14px;
  }
  .switcher-box label span.box-wrap .slider {
    margin: 5px 22px;
  }
  .switcher-box label span.box-wrap .option b {
    font-size: 16px;
  }
  .shipping-data ol li {
    padding: 25px 0 19px 0;
  }
  .shipping-data ol li .name h3 {
    font-size: 15px;
  }
  .shipping-data ol li ul li {
    font-size: 17px;
  }
  .shipping-data ol li ul {
    padding: 21px 0 4px 0;
    margin-left: 24px;
  }
  .account-content .content-title {
    padding-bottom: 5px;
  }
  .account-content .content-title h2 {
    font-size: 26px;
  }
  .account-content .content-table table thead tr th {
    padding: 12px 10px 12px 0;
    font-size: 12px;
  }
  .account-content .content-table table tbody tr td {
    height: 50px;
    font-size: 12px;
  }
  .account-content .content-table table tbody tr td:first-child {
    padding-left: 17px;
  }
  .account-content .content-table table tbody tr td .row-action a:not(.main-btn) {
    margin-right: 18px;
    font-size: 14px;
  }
  .account-content .content-table table tbody tr td .row-action .main-btn {
    margin-right: 18px;
  }
  .application-form .account-menu {
    padding: 26px 18px 55px 0;
  }
  .account-menu h2 {
    font-size: 16px;
  }
  .account-menu ul li a {
    padding: 14px 12px;
    font-size: 14px;
  }
  .account-menu ul li {
    padding: 14px 0;
  }
  .account-menu ul li a span i {
    font-size: 16px;
  }
  .main-btn span.icon-logout {
    padding-left: 8px;
    font-size: 16px;
  }
  .application-form .account-content {
    padding: 26px 0 55px 23px;
  }
  .account-content .order-search form .form-title h4 {
    font-size: 15px;
  }
  .account-content .order-search form .form-title {
    padding-bottom: 12px;
  }
  .account-content .order-search form .form-title {
    padding-bottom: 12px;
  }
  .account-content .order-search form .form-fields button {
    padding: 5px 18px;
    font-size: 22px;
  }
  .account-content .order-search {
    padding: 21px 0 3px 0;
  }
  .modal-wrap .content-title h3 {
    font-size: 34px;
  }
  .modal-wrap .content-title p {
    padding-top: 15px;
    font-size: 16px;
  }
  .form-fields label span.field.code input {
    padding: 11px 19px;
  }
}

@media screen and (max-width: 1420px) {
  //width: 1440px
  .wrapper {
    max-width: 1110px;
  }

  .container {
    max-width: 930px;
  }

  .sub-title h2 {
    font-size: 29px;
  }

  .sub-title p {
    padding-top: 15px;
    font-size: 14px;
  }

  .main-btn {
    padding: 8px 11px;
    font-size: 14px;

    &.big {
      min-height: 54px;
    }

    &.small {
      font-size: 13px;
    }

  }

  header .toolbar .logo a,
  footer .additional-menu .data-wrap .logo a {
    max-width: 110px;
  }
  header .toolbar .main-menu ul li {
    padding: 0 7px;
  }
  header .toolbar .main-menu ul li a {
    font-size: 13px;
  }
  header .toolbar .main-menu ul li.with-drop > a span {
    padding-right: 13px;
  }
  header .toolbar .main-menu ul li.with-drop > a span:after,
  header .toolbar .location .current p:after {
    padding-top: 1px;
    font-size: 10px;
  }
  header .toolbar .main-menu {
    padding-left: 60px;
  }
  header .toolbar .location .current p,
  header .toolbar .cart-btn a {
    font-size: 13px;
  }
  header .toolbar .sign-btn {
    padding-left: 14px;
  }
  header .toolbar .cart-btn a span {
    margin-right: 6px;
    font-size: 17px;
  }
  header .toolbar .location .current p {
    padding-right: 13px;
  }
  header .toolbar .location .current p:before {
    font-size: 17px;
  }
  header .toolbar .cart-btn {
    padding-left: 23px;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 70px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 31px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap {
    padding: 9px;
    bottom: 8px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 22px;
    height: 22px;
    font-size: 17px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 3px 0 3px 29px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 30px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn,
  .start-btn .main-btn {
    max-width: 215px;
  }
  .main-intro .intro-wrap {
    padding: 10.4% 0 2% 0;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 29px;
  }
  .working-process .process-list ul li .label h3 {
    min-height: 32px;
    font-size: 14px;
  }
  .working-process .process-list ul {
    padding-left: 24px;
  }
  .working-process .process-list ul li .progress {
    width: 24px;
    left: -24px;
  }
  .working-process .process-list ul li .progress .progress-bullet {
    top: 4px;
    width: 24px;
    height: 24px;
  }
  .working-process .process-list ul li .progress .progress-bullet:after {
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
  }
  .working-process .process-list ul li .progress .progress-track {
    left: 12px;
  }
  .working-process .process-list ul li .progress .progress-bar {
    left: 11px;
  }
  .working-process .process-list ul li .progress .progress-bar,
  .working-process .process-list ul li .progress .progress-track {
    top: 23px;
    bottom: -10px;
  }
  .working-process .process-list ul li .description p {
    font-size: 14px;
  }
  .working-process .process-list ul li .description {
    padding: 17px 0 4px 0;
  }
  .working-process .process-list ul li {
    padding: 0 0 12px 5px;
  }
  .reviews-platform .reviews-item .item-wrap .content p {
    font-size: 13px;
  }
  .reviews-platform .reviews-item .item-wrap .author .picture {
    width: 54px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name {
    padding-left: 9px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name h3 {
    font-size: 15px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name p {
    padding-top: 4px;
    font-size: 12px;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 30px;
  }
  .reviews-platform .reviews-wrap .slider-shade:before,
  .reviews-platform .reviews-wrap .slider-shade:after {
    width: 70px;
  }
  .faq-section .faq-list {
    padding-top: 4px;
  }
  .faq-section .faq-list ul li .question h3 {
    font-size: 16px;
  }
  .faq-section .faq-list ul li .question {
    padding: 27px 0;
  }
  .faq-section .faq-list ul li .question h3 span.icon-close {
    width: 36px;
    height: 36px;
    font-size: 11px;
  }
  .faq-section .faq-list ul li .answer p {
    max-width: 94%;
    padding-left: 17px;
    font-size: 14px;
  }
  .faq-section .faq-list ul li .answer {
    padding: 0 0 14px 0;
  }
  .faq-section .faq-list ul li {
    margin: 12px 0;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 12px;
    font-size: 14px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 47px;
    padding: 12px 13px;
    font-size: 14px;
  }
  .form-fields label textarea {
    height: 116px;
  }
  footer .additional-menu .data-wrap .menu ul li {
    padding-bottom: 11px;
    font-size: 14px;
  }
  footer .additional-menu .data-wrap .menu ul li a span {
    padding-right: 6px;
    font-size: 17px;
  }
  footer .extra-menu .data-wrap {
    padding: 18px 0;
  }
  footer .additional-menu .data-wrap .logo {
    width: 19%;
  }
  footer .additional-menu .data-wrap .menu {
    width: calc(100% - 19%);
  }
  footer .extra-menu ul li {
    font-size: 13px;
  }
  .progress-wrap h2 {
    padding-bottom: 30px;
  }
  .progress-wrap ul li .name {
    min-height: 36px;
    padding-left: 10px;
  }
  .progress-wrap ul li .counter .index {
    width: 36px;
    height: 36px;
  }
  .progress-wrap ul li:before {
    top: 38px;
    left: 19px;
    bottom: -2px;
  }
  .progress-wrap ul li .counter .index:after {
    font-size: 22px;
  }
  .progress-wrap ul li .counter .index:before {
    font-size: 14px;
  }
  .application-form .progress-wrap {
    padding: 22px 15px 22px 0;
  }
  .application-form .form-wrap {
    padding: 18px 0 25px 18px;
  }
  .application-toolbar .data-wrap {
    padding: 0 0 0 18px;
  }
  .form-fields .extra-info h3 {
    font-size: 22px;
  }
  .cart-summary .item-wrap ul li .more .form-fields label span.field.radio .name .status,
  .cart-summary .item-wrap ul li .more .form-fields label span.field.checkbox .name .status {
    font-size: 11px;
  }
  .form-fields label span.field.radio .name, .form-fields label span.field.checkbox .name {
    font-size: 15px;
  }
  .form-fields label span.field.radio .extra, .form-fields label span.field.checkbox .extra {
    font-size: 14px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 60px;
    padding: 8px 40px 8px 13px;
  }
  .form-fields label span.field.radio .bullet, .form-fields label span.field.checkbox .bullet {
    width: 24px;
    height: 24px;
  }
  .form-fields .extra-info label {
    max-width: 200px;
  }
  .form-fields label span.attention {
    margin-top: 10px;
    font-size: 13px;
  }
  .application-form .form-wrap .form-notice p {
    padding: 17px;
  }
  .page-title .data-wrap h1 {
    font-size: 21px;
  }
  .page-title .data-wrap .btn-wrap .main-btn.small {
    min-height: 33px;
    padding: 10px 14px;
    font-size: 12px;
  }
  .main-btn span.icon-close {
    margin-left: 10px;
    font-size: 8px;
  }
  .cart-summary {
    margin: 0 -4px;
    padding: 18px 0;
  }
  .cart-summary .item-wrap {
    padding: 8px;
  }

  .cart-summary .item-wrap ul li .name {
    padding: 9px 45px 14px 6px;
  }
  .cart-summary .item-wrap ul li .name h4 {
    font-size: 14px;
  }
  .cart-summary .item-wrap ul li .name p {
    padding-top: 7px;
    font-size: 12px;
  }
  .cart-summary .item-wrap ul li .more {
    padding: 9px 6px;
  }
  .cart-summary .item-wrap ul li .name button.icon-delete {
    top: 3px;
    right: 3px;
    font-size: 16px;
  }
  .cart-summary .item-wrap ul li .price p {
    font-size: 13px;
  }
  .cart-summary .item-wrap ul li .btn-wrap {
    padding-top: 15px;
  }
  .cart-summary .item-wrap ul li .btn-wrap .main-btn {
    min-height: 30px;
  }
  .cart-summary .item-wrap ul li {
    margin-bottom: 9px;
  }
  .cart-summary .item-wrap ul li .name .img {
    width: 38px;
    margin: 0 21px 0 6px;
  }
  .cart-summary .item-wrap .order-summary {
    padding: 24px 23px;
  }
  .cart-summary .item-wrap h3 {
    padding-bottom: 19px;
    font-size: 12px;
  }
  .cart-summary .item-wrap .order-summary table tr td {
    padding: 8px 0;
    font-size: 12px;
  }
  .cart-summary .item-wrap .order-summary table tfoot tr:first-child td {
    padding-top: 17px;
  }
  .cart-summary .item-wrap .order-summary table tfoot tr td {
    font-size: 14px;
  }
  .cart-summary .item-wrap .order-summary .main-btn {
    margin-top: 15px;
  }


  .shipping-data ol li {
    padding: 21px 0 16px 0;
  }
  .shipping-data ol li .name h3 {
    font-size: 13px;
  }
  .shipping-data ol li ul li {
    font-size: 15px;
  }
  .shipping-data ol li ul {
    padding: 13px 0 0 0;
    margin-left: 21px;
  }
  .form-fields label span.field.radio.with-price, .form-fields label span.field.checkbox.with-price {
    min-height: 43px;
  }
  .form-fields label span.field.radio .price, .form-fields label span.field.checkbox .price {
    font-size: 14px;
  }
  .application-toolbar .data-wrap .back-btn {
    max-width: 172px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 290px;
  }
  .switcher-box label span.box-wrap .option {
    font-size: 12px;
  }
  .switcher-box label span.box-wrap .option b {
    font-size: 14px;
  }
  .switcher-box label span.box-wrap .slider {
    margin: 3px 19px;
  }
  .shipping-data {
    padding: 20px;
    margin: 20px 0 7px 0;
  }
  .shipping-data ol li .name p {
    font-size: 12px;
  }
  .shipping-data ol li .name p b {
    font-size: 14px;
  }
  .application-form .form-wrap .switcher-box {
    margin-top: 10px;
  }
  .account-menu h2 {
    font-size: 14px;
  }
  .account-content .content-title h2 {
    padding-bottom: 4px;
    font-size: 22px;
  }
  .account-menu ul li {
    padding: 11px 0;
  }
  .account-menu ul li a {
    padding: 12px 10px;
    font-size: 12px;
  }
  .account-menu ul li a span i {
    padding-right: 5px;
    font-size: 14px;
  }
  .application-form .account-menu {
    padding: 19px 15px 45px 0;
  }
  .main-btn span.icon-logout {
    padding-left: 6px;
    font-size: 14px;
  }
  .account-menu .btn-wrap {
    padding-top: 15px;
  }
  .account-content .content-title h2 {
    padding-bottom: 4px;
    font-size: 21px;
  }
  .application-form .account-content {
    padding: 19px 0 45px 18px;
  }
  .account-content .content-table table tbody tr td:first-child {
    padding-left: 12px;
  }
  .account-content .content-table table thead tr th {
    padding: 9px 10px 9px 0;
    font-size: 11px;
  }
  .account-content .content-table table tbody tr td {
    height: 42px;
    font-size: 11px;
  }
  .account-content .content-table table tbody tr td .row-action a:not(.main-btn) {
    margin-right: 10px;
    font-size: 12px;
  }
  .account-content .content-table table tbody tr td .row-action .main-btn {
    padding: 7px;
    margin-right: 10px;
  }
  .account-content .content-table table {
    border-spacing: 0 8px;
  }
  .account-content .content-table table thead tr th span.icon-arrow {
    font-size: 8px;
  }
  .account-content .order-search form .form-title h4 {
    font-size: 13px;
  }
  .account-content .order-search {
    padding: 13px 0 4px 0;
  }
  .account-content .order-search form .form-fields button {
    padding: 5px 15px;
    font-size: 18px;
  }

  .steps-header .container,
  .steps-page .container {
    max-width: 1400px;
  }
  header .steps-header .toolbar .logo a {
    max-width: 132px;
  }
  .steps-header .steps-advantages ul li {
    padding: 6px 9px;
    margin: 3px 37px 3px 0;
    font-size: 16px;

    span {
      font-size: 21px;
    }
  }
  .steps-page .steps-content .step-info {
    padding: 45px 15px;
  }
  .steps-page .steps-content .step-info .info-text {
    min-height: calc(100vh - 70px - 110px);
  }
  .steps-page .steps-content .progress-wrap {
    padding-bottom: 35px;
  }
  .steps-page .steps-content .step-data .title h1 {
    font-size: 42px;
  }
  .steps-page .steps-content .step-data .title p {
    padding-top: 22px;
    font-size: 16px;
  }
  .steps-page .steps-content .method-option {
    padding: 36px 7.7% 0 7.7%;
  }
  .steps-page .steps-content .method-option label span.img {
    max-width: 140px;
  }
  .steps-page .steps-content .method-option label span.option-wrap {
    padding: 45px 15px 23px 15px;
  }
  .steps-page .steps-content .method-option label span.name {
    padding-top: 24px;
    font-size: 16px;
  }
  .steps-page .steps-content .btn-wrap {
    padding-top: 43px;
  }
  .steps-page .steps-content .btn-wrap .action-btn .main-btn {
    max-width: 180px;
    min-height: 64px;
  }
  .steps-page .steps-content .step-info .info-text .text {
    padding-top: 50px;
  }
  .steps-page .steps-content .step-info .info-text .text p {
    font-size: 16px;
  }
  .steps-page .steps-content .instruction-list ul li .text p {
    font-size: 16px;
  }
  .steps-page .steps-content .sub-title h3,
  .steps-page .steps-content .step-data .title.big h1 {
    font-size: 43px;
  }
  .photo-requirements .requirements-wrap .list ul li {
    font-size: 14px;
  }
  .photo-requirements .requirements-wrap .list ul {
    column-gap: 15px;
  }
  .photo-requirements .requirements-wrap .img .main-btn {
    margin-top: 20px;
  }
  .steps-page .steps-content .photo-requirements .requirements-wrap {
    padding: 0 0 0 2%;
  }
  .photo-requirements .requirements-wrap .list {
    padding-left: 15px;
  }
  .steps-page .steps-content .photo-requirements {
    padding-bottom: 30px;
  }
  .steps-page .steps-content .photo-requirements .requirements-wrap.failed {
    padding: 0 10%;
  }
  .form-fields label span.field.code input {
    padding: 9px 19px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1180px) {
  //width: 1200px
  header .toolbar .main-menu {
    padding-left: 20px;
  }
  header .toolbar .main-menu ul li {
    padding: 0 5px;
  }
  header .toolbar .sign-btn,
  header .toolbar .cart-btn {
    padding-left: 15px;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 65px;
  }
  .steps-header .container, .steps-page .container {
    max-width: 1170px;
  }
  header .steps-header .toolbar .logo a {
    max-width: 110px;
  }
  .steps-header .steps-advantages ul li span {
    font-size: 18px;
  }
  .steps-header .steps-advantages ul li {
    padding: 3px 9px;
    margin: 3px 26px 3px 0;
    font-size: 14px;
  }
  .steps-page .steps-content .progress-wrap {
    padding-bottom: 28px;
  }
  .steps-page .steps-content .step-data .title h1 {
    font-size: 35px;
  }
  .steps-page .steps-content .step-data .title p {
    padding-top: 18px;
    font-size: 14px;
  }
  .steps-page .steps-content .method-option {
    padding: 28px 7.1% 0 7.1%;
  }
  .steps-page .steps-content .method-option label span.option-wrap {
    padding: 35px 15px 17px 15px;
  }
  .steps-page .steps-content .method-option label span.img {
    max-width: 120px;
  }
  .steps-page .steps-content .method-option label span.name {
    padding-top: 19px;
    font-size: 14px;
  }
  .steps-page .steps-content .btn-wrap {
    padding-top: 35px;
  }
  .steps-page .steps-content .btn-wrap .action-btn .main-btn {
    max-width: 150px;
    min-height: 52px;
  }
  .steps-page .steps-content .step-info .info-text .text {
    padding-top: 36px;
  }
  .steps-page .steps-content .step-info .info-text .text p {
    font-size: 14px;
  }
  .steps-page .steps-content .step-info .info-text {
    min-height: calc(100vh - 58px - 110px);
  }
  .steps-page .steps-content .instruction-list ul li .text p {
    font-size: 14px;
  }
  .steps-page .steps-content .instruction-list ul li .img:before {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .steps-page .steps-content .instruction-list ul li .text {
    padding-left: 20px;
  }
  .steps-page .steps-content .sub-title h3,
  .steps-page .steps-content .step-data .title.big h1 {
    font-size: 38px;
  }
  .photo-requirements .requirements-wrap .list ul li {
    font-size: 12px;
  }
  .photo-requirements .requirements-wrap .list {
    padding-left: 10px;
  }
  .photo-requirements .requirements-wrap .list ul {
    column-gap: 10px;
  }
  .steps-page .steps-content .photo-requirements .requirements-wrap {
    padding: 0;
  }

  .modal-wrap .modal-content {
    max-width: 950px;
  }
  .modal-wrap .up-sale .text .title h3 {
    font-size: 35px;
  }

  .modal-wrap .close-btn button {
    width: 45px;
    height: 45px;
  }
  .modal-wrap .close-modal {
    max-width: 750px;
    padding: 0 55px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper,
  .container {
    padding: 0 20px;
  }
  body {
    &.scroll-lock {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
  }
  header {
    padding: 17px 0;
  }
  header .toolbar .logo a,
  footer .additional-menu .data-wrap .logo a {
    max-width: 124px;
  }
  header .toolbar .main-menu .mobile-btn {
    display: block;
  }
  header .toolbar .main-menu {
    padding: 87px 20px 20px 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition), visibility var(--transition);

    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    nav {
      margin-right: 10px;
      padding-right: 10px;
      flex: 1;
      overflow: auto;
    }
  }

  header .toolbar .location .current p,
  header .toolbar .cart-btn a {
    font-size: 16px;
  }
  header .toolbar .cart-btn a span {
    margin-right: 8px;
    font-size: 20px;
  }
  header .toolbar .sign-btn, header .toolbar .cart-btn {
    padding-left: 27px;
  }

  header .toolbar .location .current p:before {
    padding-right: 5px;
    font-size: 20px;
  }
  header .toolbar .main-menu ul li.with-drop > a span:after {
    content: "\e905";
    padding-top: 0;
    right: 6px;
    font-size: 10px;
    opacity: 1;
    transform: rotate(45deg);
  }
  header .toolbar .location .current p {
    padding-right: 16px;
  }
  header .toolbar .location .current p:after {
    padding-top: 0;
    font-size: 11px;
  }

  header .toolbar .location {
    display: none;
  }

  header .toolbar .sign-btn {
    display: none;
  }

  header .toolbar .user-btn,
  header .toolbar .menu-btn {
    display: block;
  }


  header .toolbar .main-menu ul {
    display: block;
  }
  header .toolbar .main-menu ul li {
    padding: 10px 0;
  }
  header .toolbar .main-menu ul li a {
    padding: 5px 0;
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  header .toolbar .main-menu ul li.with-drop > a:after {
    display: none;
  }

  header .toolbar .main-menu .drop-item {
    max-height: 0;
    position: static;
    padding: 6px 0 0 0;
    overflow: hidden;

    ul {
      width: auto;
      padding: 0;
      background-color: unset;
      box-shadow: none;
      border-radius: 0;

      li {
        padding: 10px 0;

        a {
          padding: 3px 0;
          font-size: 16px;
          color: var(--shuttle-gray);

          &:hover {
            color: var(--azure-radiance);
            background-color: unset;
          }
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &.open {
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
    }
  }

  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 56px;
  }
  .progress-wrap h2,
  .progress-wrap ul li .name,
  .progress-wrap:after {
    display: none;
  }
  .progress-wrap ul li .counter .index {
    width: 44px;
    height: 44px;
  }
  .progress-wrap ul li .counter .index:after {
    font-size: 27px;
  }
  .progress-wrap ul li .counter .index:before {
    font-size: 18px;
  }
  .progress-wrap ul li:before {
    top: 44px;
    left: 23px;
    bottom: -4px;
  }
  .application-form .progress-wrap {
    width: 70px;
    padding: 22px 22px 22px 0;
  }
  .application-form .form-wrap {
    width: calc(100% - 70px);
    padding: 18px 0 25px 0;
  }
  .application-toolbar .data-wrap {
    width: calc(100% - 70px);
    padding: 0;
  }
  .application-list ul li.add-application .add-form {
    width: 440px;
    padding-top: 25px;
  }
  .cart-summary .item-wrap .order-summary {
    padding: 15px;
  }
  .cart-summary .item-wrap ul li .name p {
    padding-top: 4px;
  }
  .cart-summary .item-wrap ul li .name .img {
    margin: 0 15px 0 0;
  }
  .application-form .data-wrap.horizontal {
    margin: 0 -15px;
    .form-wrap {
      padding-left: 15px;
      padding-right: 15px;
      .switcher-box,
      .shipping-data {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .shipping-data {
      border-radius: unset;
      border: none;
    }
  }
  .page-title .data-wrap .m-only {
    display: block;
  }
  .application-form .data-wrap.horizontal .progress-wrap {
    width: 100%;
    min-height: 60px;
    padding: 6px 20px 12px 20px;

    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
      background: transparent;
    }
  }
  .application-form .data-wrap.horizontal .progress-wrap ul {
    display: flex;

    li {
      padding: 0 49px 0 0;
      flex-shrink: 0;

      &:before {
        top: 23px;
        left: 44px;
        right: -2px;
        bottom: unset;
        border-right: none;
        border-bottom: 2px solid var(--porcelain);
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  .application-form .data-wrap.horizontal .form-wrap {
    width: 100%;

    //padding: 18px 0 25px 0;
    .switcher-box {
      //margin-top: 10px;
      padding: 0 20px;
    }
  }
  .application-form .form-wrap .switcher-box {
    margin-top: 5px;
  }
  .switcher-box label span.box-wrap .option {
    font-size: 16px;
  }
  .switcher-box label span.box-wrap .option b {
    font-size: inherit;
  }
  .switcher-box label span.box-wrap .option:after {
    font-size: 14px;
  }
  .shipping-data ol li .name h3 {
    font-size: 16px;
  }
  .shipping-data ol li ul li {
    line-height: 1.37;
    font-size: 16px;
  }
  .shipping-data ol li .name p {
    font-size: 14px;
  }
  .shipping-data ol li .name p b {
    font-size: 16px;
  }
  .shipping-data ol li {
    padding: 17px 0;
  }
  .shipping-data ol li ul {
    padding: 23px 0 0 0;
    margin-left: 25px;
  }
  .cart-summary .item-wrap ul li .more .form-fields label span.field.radio .name .status,
  .cart-summary .item-wrap ul li .more .form-fields label span.field.checkbox .name .status {
    font-size: 12px;
  }
  .form-fields label span.field.radio .name,
  .form-fields label span.field.checkbox .name {
    font-size: 16px;
  }
  .form-fields label span.field.radio .price,
  .form-fields label span.field.checkbox .price {
    padding: 0 4px 0 25px;
    font-size: 16px;
  }
  .shipping-data {
    padding: 16px 20px;
    margin: 26px 0 7px 0;
  }
  .form-fields label span.field.radio.with-price,
  .form-fields label span.field.checkbox.with-price {
    min-height: 68px;
    padding: 9px 50px 9px 17px;

    .name {
      line-height: 1.37;
    }

    .bullet {
      width: 28px;
      height: 28px;
      right: 16px;
    }
  }
  header .steps-header .toolbar {
    flex-wrap: wrap;
  }
  .steps-header .left-side,
  .steps-header .right-side {
    width: 100%;
  }
  header .steps-header .toolbar .logo {
    margin: 0 auto;
  }
  header .steps-header .toolbar .logo a {
    max-width: 124px;
  }
  .steps-header .steps-advantages {
    display: None;
    padding: 0;
  }
  .steps-header .steps-advantages ul {
    justify-content: center;
  }
  .steps-header .steps-advantages ul li span {
    padding-right: 6px;
    font-size: 18px;
  }
  .steps-header .steps-advantages ul li {
    padding: 3px 9px;
    margin: 2px 3px;
    font-size: 14px;
    border: none;
  }
  .steps-header .steps-advantages {
    padding: 12px 0 0 0;
  }
  .steps-page .steps-content .step-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #F8FAFC;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition), visibility var(--transition);

    &:before {
      display: none;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  .steps-page .steps-content .step-info .info-text {
    flex: 1;
    min-height: unset;
    margin-right: -10px;
    padding-right: 10px;
    overflow: auto;

    .info-wrap {
      max-height: 100%;
    }
  }
  .steps-page .steps-content .step-info .info-text .text {
    padding-top: 26px;
  }
  .steps-page .steps-content .step-info .info-toolbar {
    display: flex;
  }

  .steps-page .steps-content .instruction-list ul li .img:before {
    width: 47px;
    height: 47px;
    font-size: 18px;
  }
  .steps-page .steps-content .instruction-list ul {
    max-width: 515px;
    margin: 0 auto;
  }
  .steps-page .steps-content .instruction-list ul li .text p {
    font-size: 18px;
  }
  .steps-page .steps-content .instruction-list {
    max-height: 100%;
    margin: 0 -10px 0 0;
    padding: 0 10px 0 0;
    flex: 1;
    overflow: auto;
  }

  .steps-page .steps-content .step-data {
    width: 100%;
    padding: 24px 0;
  }
  .steps-page .steps-content .step-data .data-wrap {
    margin: 0 auto;
  }

  .steps-page .steps-content .btn-wrap {
    display: flex;
    align-items: center;

    .action-btn {
      flex: 1;

      .main-btn {
        max-width: unset;
      }
    }

    .info-btn {
      display: block;
      padding-left: 10px;
    }
  }

  .steps-page .steps-content .progress-wrap ul li .name {
    display: block;
  }
  .modal-wrap .up-sale .text .title h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 810px) {

  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 50px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 24px;
  }
  .working-process .process-img {
    width: 100%;
    padding-bottom: 19px;
    order: 1;
  }
  .working-process .process-img span {
    border-radius: 20px;
  }
  .working-process .process-list {
    width: 100%;
    padding-right: 0;
    order: 2;
    .list-wrap {
      margin: 0 -20px;
    }
  }

  .working-process .process-list ul {
    display: flex;
    padding: 0 20px;
  }
  .working-process .process-list ul li {
    width: 289px;
    flex-shrink: 0;
    padding: 47px 13px 0 0;
  }
  .working-process .process-list ul li .description {
    padding: 15px 0 0 0;
    max-height: unset;
    transform: translateY(0);
    opacity: 1;
  }
  .working-process .process-list ul li[data-active="true"] .description {
    max-height: unset;
  }
  .working-process .process-list ul li .progress .progress-bullet {
    top: 0;
    width: 30px;
    height: 30px;
  }
  .working-process .process-list ul li .progress .progress-bullet:after {
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
  }
  .working-process .process-list ul li .progress {
    width: unset;
    height: 30px;
    left: 0;
    right: 0;
    bottom: unset;
  }

  .working-process .process-list ul li .label h3 {
    min-height: 38px;
    font-size: 16px;
  }
  .working-process .process-list ul li .description p {
    font-size: 14px;
    line-height: 1.58;
  }

  .working-process .process-list ul li .progress .progress-bar,
  .working-process .process-list ul li .progress .progress-track {
    right: -8px;
    left: 23px;
    bottom: unset;
  }
  .working-process .process-list ul li .progress .progress-bar {
    top: 14px;
  }
  .working-process .process-list ul li .progress .progress-track {
    top: 15px;
  }
  .working-process .process-list ul li .progress .progress-track {
    width: unset;
    height: 1px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: none;
    border-bottom: none;
    background: repeating-linear-gradient(to right, var(--azure-radiance) 0, var(--azure-radiance) 3px, transparent 3px, transparent 6px);
  }
  .working-process .process-list ul li .progress .progress-bar {
    width: unset;
    height: 3px;
    transform: scale(0, 1);
  }
  .working-process .process-list ul li[data-active="true"][data-reset="true"] .progress .progress-bar {
    transform: scale(0, 1);
  }
  .working-process .process-list ul li[data-past="true"] .progress-bar {
    transform: scale(1, 1);
    opacity: 1;
  }
  .reviews-platform .reviews-wrap .slider-wrap .swiper-container:nth-child(odd) {
    padding: 0 6% 0 16.4%;
  }
  .reviews-platform .reviews-wrap .slider-wrap .swiper-container:nth-child(even) {
    padding: 0 16.4% 0 6%;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 25px;
  }

  footer .additional-menu .data-wrap {
    padding: 30px 0 0 0;
  }
  footer .additional-menu .data-wrap .logo {
    width: 100%;
    text-align: center;
  }
  footer .additional-menu .data-wrap .menu {
    width: 100%;
    padding: 29px 0 0 0;
  }
  .cart-summary .item-wrap {
    width: calc(100% / 2);

    &.total-info {
      width: calc(100% + 40px);
      margin: 0 -20px;
      padding-bottom: 0;
    }
  }
  .cart-summary {
    padding-bottom: 0;
  }
  .cart-summary .item-wrap .order-summary {
    padding: 16px 20px;
  }
  .cart-summary .item-wrap ul li .name h4 {
    font-size: 18px;
  }
  .cart-summary .item-wrap ul li .name p {
    padding-top: 7px;
    font-size: 16px;
  }
  .cart-summary .item-wrap ul li .name .img {
    width: 51px;
    margin: 0 20px 0 0;
  }
  .cart-summary .item-wrap ul li .name {
    padding: 14px 45px 14px 12px;
  }
  .cart-summary .item-wrap ul li .name button.icon-delete {
    top: 11px;
    right: 11px;
    font-size: 20px;
  }
  .cart-summary .item-wrap ul li .price p {
    font-size: 16px;
  }
  .cart-summary .item-wrap ul li .more {
    padding: 19px 12px;
  }
  .cart-summary .item-wrap ul li .btn-wrap {
    padding-top: 21px;
  }
  .cart-summary .item-wrap ul li .btn-wrap .main-btn {
    min-height: 38px;
    font-size: 16px;
  }

  .cart-summary .item-wrap h3 {
    padding-bottom: 7px;
    font-size: 16px;
  }
  .cart-summary .item-wrap .order-summary table tr td {
    padding: 6px 0;
    font-size: 16px;
  }
  .cart-summary .item-wrap .order-summary table tbody tr:last-child td {
    padding-bottom: 9px;
  }
  .cart-summary .item-wrap .order-summary table tfoot tr td {
    font-size: 18px;
  }
  .cart-summary .item-wrap .order-summary table tfoot tr:first-child td {
    padding-top: 8px;
  }
  .cart-summary .item-wrap .order-summary .main-btn {
    margin-top: 13px;
    min-height: 48px;
  }

  element.style {
  }
  .modal-wrap .up-sale {
    padding: 4%;
  }
}

@media screen and (max-width: 760px) {
  .sub-title h2 {
    font-size: 26px;
    letter-spacing: -1.5px;
  }
  .sub-title p {
    padding-top: 19px;
    font-size: 18px;
  }
  .main-btn {
    padding: 10px 15px;
    font-size: 18px;

    &.big {
      min-height: 70px;
    }
  }

  .main-intro .intro-wrap .intro-title {
    width: 100%;
  }
  .main-intro .intro-wrap .intro-img {
    width: 100%;
    display: none;

  }
  .main-intro .intro-wrap .intro-img span {
    margin: 0;
    text-align: center;
  }
  .main-intro .intro-wrap .intro-title .title.big h1 {
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: -1.5px;
  }
  .main-intro {
    margin-top: -57px;
  }
  .main-intro .intro-wrap {
    padding: 95px 0 30px 0;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap img {
    max-width: 30px;
  }
  .main-intro .intro-wrap .intro-title .title h1 span.emoji-wrap {
    padding: 10px;
    bottom: -2px;
  }
  .main-intro .intro-wrap .intro-title .title ul {
    padding-top: 42px;
  }
  .main-intro .intro-wrap .intro-title .title ul li:before {
    width: 24px;
    height: 24px;
    font-size: 17px;
  }
  .main-intro .intro-wrap .intro-title .title ul li {
    padding: 1px 0 1px 32px;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 1.37;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap {
    padding-top: 60px;
  }
  .main-intro .intro-wrap .intro-title .btn-wrap .main-btn,
  .faq-form .form-wrap form .submit-btn .main-btn,
  .start-btn .main-btn {
    max-width: 380px;
  }
  .working-process .data-wrap {
    padding: 30px 0;
  }
  .working-process .process-wrap {
    padding-top: 21px;
  }

  .reviews-platform .data-wrap {
    padding: 30px 0;
  }
  .reviews-platform .sub-title {
    padding-bottom: 11px;
  }
  .reviews-platform .reviews-item .item-wrap .content p {
    display: block;
    font-size: 16px;
    line-height: 1.37;
  }
  .reviews-platform .reviews-item .item-wrap .author .picture {
    width: 70px;
  }
  .reviews-platform .reviews-item .item-wrap .author {
    padding-top: 40px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name h3 {
    font-size: 18px;
  }
  .reviews-platform .reviews-item .item-wrap .author .name p {
    padding-top: 11px;
    font-size: 14px;
  }
  .reviews-platform .reviews-item .item-wrap {
    padding: 20px;
  }
  .reviews-platform .reviews-item .item-wrap .content {
    margin-right: 0;
  }
  .faq-section .data-wrap {
    padding: 21px 0;
  }
  .faq-section .faq-list {
    padding-top: 12px;
  }
  .faq-section .faq-list ul li {
    margin: 10px 0;
    padding: 12px 24px;
  }
  .faq-section .faq-list ul li .question h3 {
    font-size: 18px;
  }
  .faq-section .faq-list ul li .question {
    padding: 15px 0;
  }
  .faq-section .faq-list ul li .question h3 span.icon-close {
    width: 48px;
    height: 48px;
    font-size: 11px;
  }
  .faq-section .faq-list ul li .answer {
    padding: 7px 0 19px 0;
  }
  .faq-section .faq-list ul li .answer p {
    max-width: unset;
    padding-left: 16px;
    font-size: 14px;
  }
  .faq-form .data-wrap {
    padding: 52px 0;
    margin-bottom: 30px;
  }
  .faq-form .form-wrap {
    padding: 40px 20px;
  }
  .form-fields label span.label,
  .form-fields .group .group-label p {
    padding-bottom: 17px;
    font-size: 16px;
  }
  .form-fields label input,
  .form-fields label select,
  .form-fields label textarea {
    min-height: 59px;
    padding: 18px 19px;
    font-size: 16px;
  }
  .faq-form .form-wrap form .form-fields label {
    padding: 4px 0 20px 0;
  }
  .form-fields label.half-size {
    width: calc(100% - 20px);
  }
  .faq-form .form-wrap form {
    padding-top: 36px;
  }
  .form-fields label textarea {
    height: 183px;
  }
  .form-fields label span.warning {
    max-height: 21px;
    font-size: 14px;
  }
  footer .additional-menu .data-wrap .logo {
    text-align: left;
  }
  footer .additional-menu .data-wrap .menu {
    display: block;
  }
  footer .additional-menu .data-wrap .menu ul {
    padding: 0 0 24px 0;

    &:last-child {
      padding-bottom: 12px;
    }
  }
  footer .extra-menu ul {
    display: block;
    padding-right: 0;
  }
  footer .extra-menu .data-wrap {
    padding: 31px 0 8px 0;
  }
  footer .disclaimer .data-wrap {
    padding: 14px 0;
  }
  footer .extra-menu ul li.hide-m {
    display: none;
  }
  footer .copyright {
    display: block;
  }
  footer .disclaimer .data-wrap p {
    font-size: 14px;
  }
  footer .extra-menu ul li {
    padding: 0 0 22px 5px;
    font-size: 16px;
  }
  footer .additional-menu .data-wrap .menu ul li {
    padding-bottom: 17px;
    font-size: 18px;
  }
  footer .additional-menu .data-wrap .menu ul li a span {
    padding-right: 9px;
    font-size: 20px;
  }
  .reviews-platform .reviews-wrap .slider-shade,
  .reviews-platform .reviews-wrap .slider-wrap {
    display: none;
  }
  .reviews-platform .reviews-wrap .mobile-slider {
    display: block;
  }
  .form-fields label.third-size {
    width: calc(100% / 2 - 20px);
  }
  .application-toolbar .data-wrap {
    width: 100%;
  }
  .floating-wrap {
    padding-bottom: 80px;
    position: relative;
    z-index: 1;

    .application-toolbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      z-index: 3;
      background-color: unset;
      box-shadow: none;
      pointer-events: none;

      .container {
        padding: 11px 20px;
        position: sticky;
        bottom: 0;
        background: var(--catskill-white);
        box-shadow: 0 0 96px rgba(0, 0, 0, 0.1);
        pointer-events: auto;
      }
    }
  }
  .application-list ul li .main-btn.small {
    min-height: 40px;
    font-size: 14px;
  }
  .application-list ul li:not(.add-application) {
    max-width: unset;
    width: auto;
  }
  .add-btn span.icon-close {
    width: 42px;
    height: 42px;
    font-size: 10px;
  }
  .add-btn {
    font-size: 14px;
  }
  .application-list ul li.add-application .add-form {
    width: 300px;
    padding-top: 20px;
  }
  .application-list ul li.add-application .add-form .bg-wrap {
    padding: 9px 15px;
  }
  .application-list ul li.add-application .add-form .top-info h4 {
    font-size: 16px;
  }
  .application-list ul li.add-application .add-form table tr td {
    padding: 10px 0;
    font-size: 14px;
  }
  .application-list ul li.add-application .add-form table tr td:last-child span {
    font-size: 16px;
  }
  .application-list ul li.add-application .add-form {
    right: 10px;
  }
  .steps-page .steps-content .step-data .data-wrap {
    max-width: unset;
  }
  .steps-page .steps-content .add-photo,
  .steps-page .steps-content .btn-wrap,
  .steps-page .steps-content .uploaded-photo {
    max-width: unset;
  }
  .steps-page .steps-content .photo-requirements .requirements-wrap,
  .steps-page .steps-content .photo-requirements .requirements-wrap.failed {
    padding: 0;
  }
  .steps-page .steps-content .step-data .title.big {
    padding-top: 14px;
    padding-bottom: 31px;
  }
  .photo-requirements .requirements-wrap {
    align-items: center;
    flex-direction: column;
  }
  .photo-requirements .requirements-wrap .img {
    max-width: 350px;
  }
  /*.photo-requirements .requirements-wrap .img span:before {
    padding-bottom: 80.3%;
  }*/
  .photo-requirements .requirements-wrap .img .main-btn {
    margin-top: 32px;
  }
  .photo-requirements .requirements-wrap .list ul {
    column-count: 1;
    column-gap: unset;
  }
  .photo-requirements .requirements-wrap .list ul li {
    font-size: 16px;
  }
  .photo-requirements .requirements-wrap .list {
    width: 100%;
    padding: 35px 0 0 0;
  }
  .steps-page .steps-content .photo-requirements .requirements-wrap.failed .list {
    max-width: unset;
  }
  .steps-page .steps-content .photo-requirements {
    padding-bottom: 0;
  }
  .modal-wrap .up-sale {
    padding: 0;
  }
  .modal-wrap .up-sale .text {
    padding-right: 0;
  }
  .modal-wrap .up-sale .text .btn-wrap .main-btn {
    margin-top: 18px;
    min-height: 48px;
    font-size: 16px;
  }
  .form-fields label span.field.code input {
    padding: 13px 8px;
    margin-right: 10px;
    font-size: 24px;
  }

  .modal-wrap .close-modal {
    padding: 0;
  }
  .modal-wrap .close-modal .close-btn {
    display: flex;
    justify-content: flex-end;
    padding: 12px 15px 0 15px;
    position: static;
    z-index: unset;
  }
  .modal-wrap .close-btn button {
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 6px;
    border-radius: 0;
  }
  .modal-wrap .sign-form {
    padding: 0 21px 24px 21px;
    overflow: hidden;
  }
  .modal-wrap .content-title h3 {
    font-size: 26px;
    letter-spacing: -1.5px;
  }
  .modal-wrap .content-title p {
    padding: 22px 17px 0 17px;
    font-size: 18px;
  }
  .modal-wrap .sign-form .content-title {
    padding-bottom: 21px;
    margin-bottom: 27px;
  }
  .sign-form .submit-sign {
    flex-direction: column;
    margin: 0;
    padding-top: 14px;

    .main-btn {
      margin: 17px 0 0 0;
      max-width: 100%;
    }
  }
  .modal-wrap .sign-form .submit-sign {
    margin-top: 4px;
  }
}

@media screen and (max-width: 640px) {
  .form-fields .extra-info h3 {
    font-size: 20px;
  }
  .form-fields .extra-info {
    flex-direction: column;
  }
  .form-fields .extra-info label {
    max-width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .form-fields label.third-size {
    width: calc(100% - 20px);
  }
  .form-fields label:not(.error) span.warning {
    max-height: 0;
  }
  .application-form .form-wrap .form-fields {
    label {
      padding: 5px 0;
    }

    label span.label,
    .group .group-label p {
      padding-bottom: 14px;
      font-size: 14px;
      //font-size: 16px;
      //color: var(--azure-radiance);
    }

    label input,
    label select,
    label textarea {
      min-height: 50px;
      padding: 13px 19px;
      font-size: 16px;
    }

    .extra-info label {
      padding: 20px 0 0 0;
    }
  }
  .form-fields .group {
    padding: 5px 0;
  }
  .application-form .progress-wrap {
    padding: 18px 22px 20px 0;
  }
  .application-form .form-wrap {
    padding: 19px 0;
  }
  .form-fields label span.field.radio .name,
  .form-fields label span.field.checkbox .name {
    font-size: 16px;
  }
  .form-fields label span.field.radio, .form-fields label span.field.checkbox {
    min-height: 64px;
    padding: 8px 50px 8px 10px;
  }
  .form-fields label span.field.radio .extra,
  .form-fields label span.field.checkbox .extra {
    padding-top: 6px;
    font-size: 14px;
  }
  .form-fields label span.more {
    align-items: unset;
    flex-direction: column;
  }
  .form-fields label span.more .field {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .application-toolbar .data-wrap .main-btn {
    min-height: 48px;
    font-size: 18px;
  }
  .application-toolbar .data-wrap .next-btn {
    max-width: 215px;
  }
  .application-toolbar .data-wrap .back-btn {
    max-width: 120px;
    padding-right: 22px;
  }
  .application-list ul li.add-application {
    position: static;
  }
  .application-list ul {
    position: relative;
  }
  .progress-wrap ul {
    position: sticky;
    top: 10px;
  }
  .application-list ul li.add-application .add-form {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .application-list ul li.add-application.open-right .add-form {
    left: 50%;
  }

  .page-title .data-wrap h1 {
    font-size: 20px;
  }
  .page-title {
    padding: 12px 0;
  }
  .page-title .data-wrap .btn-wrap {
    width: 100%;
    margin-top: 15px;
    padding: 12px 0 0 0;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      bottom: -20px;
      z-index: -1;
      background: white;
      pointer-events: none;
    }
  }
  .page-title .data-wrap .btn-wrap .main-btn.small {
    flex-direction: row-reverse;
    min-height: unset;
    padding: 0;
    font-size: 14px;
    color: var(--shuttle-gray);
    border: none;
    background-color: white;

    &:hover {
      span.icon-close {
        color: var(--white);
        background-color: var(--science-blue);
        border-color: var(--science-blue);
      }
    }
  }
  .page-title .data-wrap .btn-wrap .main-btn span.icon-close {
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
    font-size: 11px;
    color: var(--azure-radiance);
    border: 1px solid var(--porcelain);
    border-radius: 4px;
    transition: color var(--transition), border-color var(--transition), background-color var(--transition);
  }
  .cart-summary {
    margin: 0;
    padding-top: 0;
  }
  .cart-summary .item-wrap {
    width: 100%;
    padding: 0;
  }
  .cart-summary .item-wrap:first-child:after {
    display: none;
  }
  .switcher-box label span.box-wrap .option {
    font-size: 14px;
  }
  .switcher-box label span.box-wrap {
    //flex-wrap: wrap;
    align-items: center;
  }
  .switcher-box label span.box-wrap .slider {
    margin: 3px 10px;
  }
  .switcher-box label span.box-wrap .option {
    &:last-child {
      max-width: 300px;
      width: calc(100% - 155px);
      /*margin-top: 13px;
      padding-top: 8px;
      border-top: 2px solid var(--porcelain);*/
      &:after {
        display: inline-block;
        //padding-left: 5px;
      }
    }
  }
  .shipping-data {
    padding-bottom: 40px;
  }
  .steps-page .steps-content .step-data .data-wrap {
    padding: 0;
  }
  .steps-page .steps-content .step-data .title h1 {
    font-size: 26px;
    letter-spacing: -0.5px;
  }
  .steps-page .steps-content .step-data .title p {
    padding-top: 21px;
    font-size: 18px;
  }
  .steps-page .steps-content .progress-wrap {
    margin: 0 -20px;
    padding-bottom: 23px;
  }
  .steps-page .steps-content .progress-wrap ul li .name h4 {
    font-size: 14px;
  }
  .steps-page .steps-content .progress-wrap ul li .name {
    padding: 3px 0 0 0;
  }
  .steps-page .steps-content .method-option {
    padding: 56px 0 0 0;
  }
  .steps-page .steps-content .method-option label span.img {
    max-width: 88px;
  }
  .steps-page .steps-content .method-option label span.bullet {
    width: 16px;
    height: 16px;
    top: 14px;
    right: 5px;
    border-width: 2px;

    &:before {
      border-width: 2px;
    }
  }
  .steps-page .steps-content .method-option label span.option-wrap {
    padding: 25px 15px 6px 15px;
  }
  .steps-page .steps-content .method-option label span.name {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1;
  }
  .steps-page .steps-content .btn-wrap {
    padding-top: 54px;
  }
  .steps-page .steps-content .btn-wrap .action-btn .main-btn {
    min-height: 70px;
  }
  .steps-page .steps-content .step-data {
    padding: 14px 0;
  }
  .steps-page .steps-content {
    padding-bottom: 26px;
  }

  .steps-page .steps-content .add-photo {
    padding: 69px 0 13px 0;
  }
  .steps-page .steps-content .btn-wrap .action-btn .main-btn.outline {
    width: 50px;
    height: 50px;
    min-height: unset;
    padding: 10px;
    flex-shrink: 0;

    span {
      display: none;
    }

    span.icon-left,
    i.icon-left {
      padding-right: 0;
    }
  }
  .steps-page .steps-content .instruction-list ul {
    padding-top: 11px;
  }
  .steps-page .steps-content .instruction-list ul li {
    flex-direction: column;
    padding-bottom: 52px;
  }
  .steps-page .steps-content .instruction-list ul li .img {
    width: 100%;
    max-width: 200px;
    padding-top: 15px;
  }
  .steps-page .steps-content .instruction-list ul li .img:before {
    right: 23px;
  }
  .steps-page .steps-content .instruction-list ul li .text {
    width: 100%;
    padding: 30px 0 0 0;

    p {
      text-align: center;
    }
  }
  .steps-page .steps-content .uploaded-photo {
    padding: 58px 0 29px 0;
  }
  .steps-page .steps-content .sub-title h3,
  .steps-page .steps-content .step-data .title.big h1 {
    font-size: 26px;
    letter-spacing: -0.5px;
  }
  .steps-page .steps-content .uploading-progress .sub-title {
    padding-bottom: 30px;
  }
  .steps-page .steps-content .uploading-progress {
    padding-top: 75px;
  }
  .uploading-progress .progress-line {
    max-width: 190px;
  }
  .uploading-progress .text {
    padding-top: 21px;
  }
  .modal-wrap .modal-content {
    padding: 10px;
  }
  .modal-wrap .up-sale .img {
    order: 1;
    width: 100%;
    padding-left: 0;
  }
  .modal-wrap .up-sale .img span img {
    width: 100%;
    border-radius: 34px;
  }
  .modal-wrap .up-sale .text {
    order: 2;
    width: 100%;
    padding-top: 20px;
  }
  .modal-wrap .up-sale .text .title h3 {
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: -0.5px;
  }
  .modal-wrap .up-sale .text .btn-wrap {
    padding-top: 14px;
  }
  .modal-wrap .up-sale .text .btn-wrap .main-btn {
    max-width: 100%;
  }
  .terms-page .text-wrap h2 {
    padding-bottom: 25px;
    font-size: 24px;
  }
  .terms-page .text-wrap p {
    padding-bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
}
